<footer id="footer" class="footer">
    <div class="row">
        <div class="footer__content">
            <h2 class="footer__logo">한국석유공업 하단정보</h2>
            <ul class="footer__link">
                <li><a href="#">CONTACT US</a></li>
            </ul>
            <div class="footer__family">
                <select class="select_footer" onchange="if(this.value) window.open(this.value);">
                    <option value="koreapetroleum.com">FAMILY SITE</option>
                    <option value="koreapetroleum.com/groupcompany?company=kp-hansuk-chemicals-company">한석화학</option>
                </select>
            </div>
        </div>
        <div class="footer__addr">
            <address>166, ICHON-RO, YONGSAN-GU, SEOUL, KOREA</address>
            <p>Copyright© KP Hansuk Plastics. All rights reserved </p>
        </div>
    </div>
</footer>