<header id="header" class="header">
    <div class="inner_cont">
        <h1 class="head_logo"><a href="#none" class="logo">한국석유공업(주)</a></h1>
        <button class="btn_gnb">
            <span class="screen_out">주메뉴 열기/닫기</span>
            <span class="bar_1"></span>
            <span class="bar_2"></span>
            <span class="bar_3"></span>
        </button>
        <!-- s: gnb_wrap -->
        <div class="gnb_wrap">
            <nav class="gnb">
                <h2 class="screen_out">주요메뉴</h2>
                <ul class="one-depth_list">
                    <li>
                        <!-- 1뎁스 활성화시 .one-depth_item 추가 클래스 : active -->
                        <a href="javascript:void(0);" class="one-depth_item">ABOUT US</a>
                        <!-- 1뎁스 활성화시 .two-depth_list >  style="display:block;" 추가  -->
                        <ul id="subMenu1" class="two-depth_list">
                            <li><a href="#none" class="two-depth_item">Overview </a></li>
                            <li><a href="#none" class="two-depth_item">CEO</a></li>
                            <li><a href="#none" class="two-depth_item">History</a></li>
                            <li><a href="#none" class="two-depth_item">Vision</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="one-depth_item">BUSINESS</a>
                        <ul id="subMenu2" class="two-depth_list">
                            <li><a href="javascript:void(0);" class="two-depth_item">Synthetic Resin</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">B&I</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="one-depth_item">PRODUCT</a>
                        <ul id="subMenu3" class="two-depth_list">
                            <li><a href="javascript:void(0);" class="two-depth_item">Synthetic Resin</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">Blow&Pail</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="one-depth_item">MANAGEMENT</a>
                        <ul id="subMenu4" class="two-depth_list">
                            <li><a href="javascript:void(0);" class="two-depth_item">Quality</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">Certification</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">KP BLOW</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">Production</a></li>
                        </ul>
                    </li>
                   <!--  <li>
                        <a href="javascript:void(0);" class="one-depth_item">품질경영</a>
                        <ul id="subMenu5" class="two-depth_list">
                            <li><a href="javascript:void(0);" class="two-depth_item">품질관리시스템</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">품질보증</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">UN인증검사</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">인증현황</a></li>
                        </ul>
                    </li> -->
                    <li>
                        <a href="javascript:void(0);" class="one-depth_item">CONTACT US</a>
                        <ul id="subMenu6" class="two-depth_list">
                            <!-- <li><a href="javascript:void(0);" class="two-depth_item">오시는 길</a></li> -->
                            <li><a href="javascript:void(0);" class="two-depth_item">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="link-option_list">
                    <li>
                        <a href="javascript:void(0);" class="link-option_item">ENG</a>
                        <ul class="link-depth_list">
                            <li><a href="#none" class="link-depth_item">ENG</a></li>
                            <li><a href="#none" class="link-depth_item">KOR</a></li>
                        </ul>
                    </li>
                    <li class="all-menu_wrap">
                        <button class="btn_allmenu">
                            <span class="screen_out">전체메뉴 열기/닫기</span>
                            <span class="bar_1"></span>
                            <span class="bar_2"></span>
                            <span class="bar_3"></span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- e: gnb_wrap -->
        <!-- s: allMenuWrap-->
        <div id="allMenuWrap" class="all-menu_wrap">
            <div class="row">
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">ABOUT US</a></li>
                    <li><a href="#none" class="all-menu_item">Overview </a></li>
                    <li><a href="#none" class="all-menu_item">CEO</a></li>
                    <li><a href="#none" class="all-menu_item">History</a></li>
                    <li><a href="#none" class="all-menu_item">Vision</a></li>

                </ul>
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">BUSINESS</a></li>
                    <li><a href="#" class="all-menu_item childs">Synthetic Resin</a></li>
                    <li><a href="#" class="all-menu_item childs">B&I</a></li>
                </ul>
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">PRODUCT</a></li>
                    <li><a href="#" class="all-menu_item">Synthetic Resin</a></li>
                    <li><a href="#none" class="all-menu_item">B&Blow&Pail</a></li>
                </ul>
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">MANAGEMENT</a></li>
                    <li><a href="#none" class="all-menu_item">Quality</a></li>
                    <li><a href="#none" class="all-menu_item">Certification</a></li>
                    <li><a href="#none" class="all-menu_item">KP BLOW</a></li>
                    <li><a href="#none" class="all-menu_item">Production</a></li>
                </ul>
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">CONTACT US</a></li>
                    <li><a href="#none" class="all-menu_item">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <!-- e: allMenuWrap-->
    </div>
</header>