<footer id="footer" class="footer">
    <div class="row">
        <div class="footer__content">
            <h2 class="footer__logo">한국석유공업 하단정보</h2>
            <ul class="footer__link">
                <li><a href="#">제품문의</a></li>
                <li><a href="#">오시는 길</a></li>
                <li><a href="#">개인정보처리 및 취급방침</a></li>
            </ul>
            <div class="footer__family">
                <select class="select_footer" onchange="if(this.value) window.open(this.value);">
                    <option value="koreapetroleum.com">패밀리 사이트</option>
                    <option value="koreapetroleum.com/groupcompany?company=kp-hansuk-chemicals-company">한석화학</option>
                </select>
            </div>
        </div>
        <div class="footer__addr">
            <address>서울시 용산구 이촌로 166 T. <a href="tel:02-799-3104" class="tel__link">02-799-3104</a></address>
            <p>COPYRIGHT© KP Hansuk Plastics. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</footer>