<header id="header" class="header">
    <div class="inner_cont">
        <h1 class="head_logo"><a href="#none" class="logo">한국석유공업(주)</a></h1>
        <button class="btn_gnb">
            <span class="screen_out">주메뉴 열기/닫기</span>
            <span class="bar_1"></span>
            <span class="bar_2"></span>
            <span class="bar_3"></span>
        </button>
        <!-- s: gnb_wrap -->
        <div class="gnb_wrap">
            <nav class="gnb">
                <h2 class="screen_out">주요메뉴</h2>
                <ul class="one-depth_list">
                    <li>
                        <!-- 1뎁스 활성화시 .one-depth_item 추가 클래스 : active -->
                        <a href="javascript:void(0);" class="one-depth_item">KP한석유화</a>
                        <!-- 1뎁스 활성화시 .two-depth_list >  style="display:block;" 추가  -->
                        <ul id="subMenu1" class="two-depth_list">
                            <li><a href="#none" class="two-depth_item">기업개요</a></li>
                            <li><a href="#none" class="two-depth_item">CEO</a></li>
                            <li><a href="#none" class="two-depth_item">연혁</a></li>
                            <li><a href="#none" class="two-depth_item">비전</a></li>
                            <li><a href="#none" class="two-depth_item">조직도</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="one-depth_item">사업분야</a>
                        <ul id="subMenu2" class="two-depth_list">
                            <li><a href="javascript:void(0);" class="two-depth_item">합성수지 사업부</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">B&I 사업부</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="one-depth_item">제품소개</a>
                        <ul id="subMenu3" class="two-depth_list">
                            <li><a href="javascript:void(0);" class="two-depth_item">합성수지</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">B&I</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="one-depth_item">생산경영</a>
                        <ul id="subMenu4" class="two-depth_list">
                            <li><a href="javascript:void(0);" class="two-depth_item">생산프로세스</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">주요공정</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">설비소개</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="one-depth_item">품질경영</a>
                        <ul id="subMenu5" class="two-depth_list">
                            <li><a href="javascript:void(0);" class="two-depth_item">품질관리시스템</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">품질보증</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">UN인증검사</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">인증현황</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="one-depth_item">고객지원</a>
                        <ul id="subMenu6" class="two-depth_list">
                            <li><a href="javascript:void(0);" class="two-depth_item">오시는 길</a></li>
                            <li><a href="javascript:void(0);" class="two-depth_item">제품문의</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="link-option_list">
                    <li>
                        <a href="javascript:void(0);" class="link-option_item">KOR</a>
                        <ul class="link-depth_list">
                            <li><a href="#none" class="link-depth_item">KOR</a></li>
                            <li><a href="#none" class="link-depth_item">ENG</a></li>
                        </ul>
                    </li>
                    <li class="all-menu_wrap">
                        <button class="btn_allmenu">
                            <span class="screen_out">전체메뉴 열기/닫기</span>
                            <span class="bar_1"></span>
                            <span class="bar_2"></span>
                            <span class="bar_3"></span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- e: gnb_wrap -->
        <!-- s: allMenuWrap-->
        <div id="allMenuWrap" class="all-menu_wrap">
            <div class="row">
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">KP한석유화</a></li>
                    <li><a href="#none" class="all-menu_item">기업개요</a></li>
                    <li><a href="#none" class="all-menu_item">CEO</a></li>
                    <li><a href="#none" class="all-menu_item">연혁</a></li>
                    <li><a href="#none" class="all-menu_item">비전</a></li>
                    <li><a href="#none" class="all-menu_item">조직도</a></li>
                </ul>
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">사업분야</a></li>
                    <li><a href="#" class="all-menu_item childs">합성수지 사업부</a></li>
                    <li><a href="#" class="all-menu_item childs">B&I 사업부</a></li>
                </ul>
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">제품소개</a></li>
                    <li><a href="#" class="all-menu_item childs">합성수지 <span class="icon"></span></a>
                        <ul class="all-childs_wrap">
                            <li><a href="#none" class="all-childs_item">PE</a></li>
                            <li><a href="#none" class="all-childs_item">PP</a></li>
                            <li><a href="#none" class="all-childs_item">POLYESTER</a></li>
                            <li><a href="#none" class="all-childs_item">Elstomer / Rubber</a></li>
                            <li><a href="#none" class="all-childs_item">Eco-Friendly</a></li>
                            <li><a href="#none" class="all-childs_item">기타</a></li>
                        </ul>
                    </li>
                    <li><a href="#none" class="all-menu_item childs">B&I <span class="icon"></span></a>
                        <ul class="all-childs_wrap">
                            <li><a href="#none" class="all-childs_item">제리캔</a></li>
                            <li><a href="#none" class="all-childs_item">페일</a></li>
                            <li><a href="#none" class="all-childs_item">기타</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">생산경영</a></li>
                    <li><a href="#none" class="all-menu_item">생산프로세스</a></li>
                    <li><a href="#none" class="all-menu_item">주요공정</a></li>
                    <li><a href="#none" class="all-menu_item">설비소개</a></li>
                </ul>
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">품질경영</a></li>
                    <li><a href="#none" class="all-menu_item">품질관리시스템</a></li>
                    <li><a href="#none" class="all-menu_item">품질보증</a></li>
                    <li><a href="#none" class="all-menu_item">UN인증검사</a></li>
                    <li><a href="#none" class="all-menu_item">인증현황</a></li>
                </ul>
                <ul class="all-menu_list">
                    <li class="depth1_top"><a href="#none" class="all-menu_item">고객지원</a></li>
                    <li><a href="#none" class="all-menu_item">오시는 길</a></li>
                    <li><a href="#none" class="all-menu_item">제품문의</a></li>
                </ul>
            </div>
        </div>
        <!-- e: allMenuWrap-->
    </div>
</header>