<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="https://newsroom.posco.com/kr/favicon.ico" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta name="title" content="한국석유공업(주)" />
<meta name="description" content="" />
<meta name="keywords" content="KP그룹, 한국석유공업, KP한석유화, 한석유화, 케이피 한석유화, KP한석화학, 한석화학, 케이피 한석화학, 브로우, 페일, 의료폐기물, 합성수지" />
<meta name="author" content="한국석유공업(주)" />
<meta property="og:type" content="website" />
<meta property="og:title" content="한국석유공업(주) | Korea Petroleum Group" />
<meta property="og:description" content="한국석유공업(주) | Korea Petroleum Group의 정보를 확인하세요" />
<title>한국석유공업(주) | Korea Petroleum Group</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../asset/css/reset.css">
<link rel="stylesheet" href="../asset/css/common.css">
<link rel="stylesheet" href="../asset/css/layout.css">
<link rel="stylesheet" href="../asset/css/pages.css">
<link rel="stylesheet" href="../asset/css/swiper.css">
<script src="../asset/js/lib/jquery-1.12.4.min.js"></script>
<script src="../asset/js/lib/swiper.js"></script>