
.busresin{
    &__txt{
        padding-bottom: 90px;
        h3{
            color: #e33176;
            font-size: 36px;
            font-family: $font-eng;
            font-weight: 700;
            span{
                color: #2a2a2a;
            }
        }
        p{
            color: #767676;
            line-height: 1.5;
            margin-top: 40px;
        }
        .color_brand{
            color: #e33176;
            font-size: 22px;
            margin-top: 12px;
        }
    }
    &__img{
        .rows{
            display: flex;
            justify-content: space-between;
            margin: 0 -5px;
            +.rows{
                margin-top: 30px;
            }
        }
        .cols{
            width: 33.333%;
            padding: 0 5px;
        }
        .subject{
            font-weight: 700;
            color: #767676;
            font-family: $font-eng;
            font-size: 20px;
            padding: 16px 0 0 10px;
        }
    }
    &__table{
        padding-top: 180px;
    }
    @media (max-width: 768px) {
        &__txt{
            padding-bottom: 50px;
            h3{
                font-size: 22px;
            }
            p{
                margin-top: 20px;
                font-size: 16px;
            }
            .color_brand{
                font-size: 18px;
                margin-top: 10px;
            }
        }
        &__img{
            .rows{
                display: block;
                overflow: hidden;
                +.rows{
                    margin-top: 15px;
                }
            }
            .cols{
                width: 49%;
                float: left;
                &:nth-child(even){
                    float: right;
                }
                &:nth-child(2n+1){
                    clear: left;
                }
                +.cols{
                    padding-top: 10px;
                }
                &:nth-child(2){
                    padding-top: 0;
                }
            }
            .subject{
                font-size: 16px;
                padding: 5px 0 0 10px;
            }
        }
        &__table{
            padding-top: 80px;
        }
    }
}
.tbl_ul{
    border-top: 2px solid #000;
    span{display: block;padding: 20px 0;}
    li{
        display: flex;border-bottom: 1px solid #e5e5e5;
    }
    .subejct{
        padding-left: 30px;
    }
    .tbl_head{
        border-bottom: 1px solid #898989;
        display: flex;
        span{
            font-weight: 500;color: #2a2a2a;
        }
    }
    .subejct{
        width: 350px;
        b{
            color: $brand-color;
            font-weight: 400;
        }
    }
    .desc{width: calc(100% - 350px);}
    &.bi_tbl_ul{
        .subejct{
            width: 140px;
        }
        .desc{width: calc(100% - 140px);}
    }
    @media (max-width: 768px) {
        font-size: 16px;
        li{
            display: block;
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            padding: 7px 0;
            span{
                padding: 7px 0;
            }
        }
        .subejct{
            padding-left: 10px;
        }
        .subejct{
            width: 100%;
        }
        .desc{
            width: 100%;
            padding-left: 10px;
        }
        &.bi_tbl_ul{
            .subejct{
                width: 100%;
            }
            .desc{width: 100%;}
        }
    }
}