
.paging{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    .page_wr{
        display: flex;
        padding: 0 45px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #c6c6c6;
            border-radius: 50%;
            width: 42px;height: 42px;
            transition: all 0.25s ease 0s;
            color: #4a4a4a;
            +a{
                margin-left: 10px;
            }
            &:hover,
            &.current{
                color: $brand-color;
                border-color: $brand-color;
            }
        }
    }
    .fir,
    .prev,
    .next,
    .last{
        display: block;
        width: 42px;height: 42px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        opacity: 0.4;
        transition: 0.25s ease 0s;
        font-size: 0;
        text-indent: -999em;
        &:hover{
            opacity: 1;
        }
        &.disabled{
            opacity: 0.4 !important;
            cursor: default;
        }
    }
    .fir{background-image: url("../img/common/fir.png");}
    .prev{background-image: url("../img/common/prev.png");}
    .next{background-image: url("../img/common/next.png");}
    .last{background-image: url("../img/common/last.png");}
    @media (max-width:1000px) {
        padding-top: 25px;
        .page_wr{
            padding: 0 15px;
            a{
                width: 35px;
                height: 35px;
                font-size: 14px;
            }
        }
        .fir,
        .prev,
        .next,
        .last{
            width: 35px;
            height: 35px;
            background-size: auto 13px;
        }
    }
}


.tabmenu{
    display: flex;
    border: 1px solid #dfdfdf;
    a{
        align-items: center;
        +a{
            border-left: 1px solid #dfdfdf;
        }
    }
    &._ea5{border-bottom:0 none;
        button, a {font-size:18px;
            letter-spacing: -1px;;
        }
    }
    &._ea2{
        button, a {
            width: 50%;
        }
    }
    a,
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #5a5a5a;
        background-color: #f7f7f7;
        transition: all 0.15s ease 0s;
        position: relative;
        border: 0;
        height: 57px;
        width: 33.333%;
        &::after{
            content:"";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 0;
            transition: all 0.15s ease 0s;
            background-color: #ed1165;
        }
        +button{
            border-left: 1px solid #dfdfdf;
        }
        &.current{
            color: #fff;
            background-color: $brand-color;
        }
        &.active{
            color: #ed1165;
            background-color: #fff;
            &::after{
                height: 4px;
            }
        }
    }
    @media (max-width:1100px) {
        &._ea5{
            button, a {font-size:16px;
                letter-spacing: -1px;;
            }
        }
    }
    @media (max-width:1000px) {
        button,
        a{
            font-size: 16px;
            height: 40px;
        }
        &._ea6{
            overflow: hidden;
            display: block;
            button,
            a{
                float: left;
                width: 33.333%;
                &:nth-child(4){border-left: 0;}
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6){border-top: 1px solid #dfdfdf;}
            }
            
        }
        &._ea5{
            overflow: hidden;
            display: block;
            button,
            a{font-size: 14px;
                letter-spacing: -1px;
                float: left;
                width: 33.333%;
                &:nth-child(4){border-left: 0;}
                &:nth-child(4),
                &:nth-child(5){border-top: 1px solid #dfdfdf;}
                &:nth-child(4),
                &:nth-child(5){width:50%;}
            }
            
        }
    }

    @media (max-width:768px) {
        button,a{
            font-size: 12px;
        }
        &._ea5{
            button, a {
                font-size:12px;
                letter-spacing: -1px;
                width: 50%;

                &:nth-child(3){border-bottom: 1px solid #dfdfdf;border-top: 1px solid #dfdfdf;}
                &:nth-child(4){border-bottom: 1px solid #dfdfdf;border-left: 1px solid #dfdfdf;}
                &:nth-child(3),
                &:nth-child(5){border-left: 0}
                &:last-child{border-right: 1px solid #dfdfdf;border-top:0;width: 100%;border-right: 0;}
            }
        }
    }
    @media (max-width:400px) {
        &._ea6{
            button,
            a{
                font-size: 13px;
            }
        }
        &._ea5{
            button,
            a{
                font-size: 12px;
                letter-spacing: -1.25px;
            }
        }
    }
}

/* 체크박스 */
.lbl_radio{
    display: inline-block;
    position: relative;
    line-height: 1;
    +.lbl_radio{
        margin-left: 30px;
    }
    input{
        position: absolute;
        width: 1px;height: 1px;overflow: hidden;
        left: -90999em;
        opacity: 0.1;
        &:checked+span{
            &::after{
                width: 13px;height: 13px;
            }
        }
    }
    span{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-top: -3px;
        width: 20px;
        height: 20px;
        margin-right: 7px;
        &::after,
        &::before{
            content:"";
            display: inline-block;
            position: absolute;
            border-radius: 50%;
        }
        &::before{
            border: 1px solid #cccccc;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &::after{
            background-color: #ed1165;
            transition: all 0.15s;
            left: 50%;
            top: 50%;
            width: 0px;
            height: 0px;
            transform: translate(-50%,-50%);
        }
    }
    @media (max-width:768px) {
        font-size: 16px;
        +.lbl_radio{
            margin-left: 0;
            margin-top: 10px;
        }
        input{
            &:checked+span{
                &::after{
                    width: 7px;height: 7px;
                }
            }
        }
        span{
            margin-top: -3px;
            width: 14px;
            height: 14px;
            margin-right: 3px;
        }
    }
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    &_dimmed{
        position: absolute;left: 0;right: 0;top: 0;bottom: 0;
        background-color: rgba(0,0,0,0.3);
    }
}