
/* 회사소개 */
.about{
    &__tit{
        color: $brand-color;
        font-weight: 500;
        font-size: 24px;
        padding-bottom: 10px;
    }
    &__txt{
        color: #767676;
        line-height: 1.5;
        b{font-weight: 400;color: #000;}
    }
    &__table{
        margin-top: 50px;
        border-top: 2px solid #000;
        .thead{
            background-color: #f2f1f1;
            .tr{
                div:nth-child(1){color: #000;}
            }
        }
        .tr{
            display: flex;
            border-bottom: 1px solid #e5e5e5;
            padding: 24px 0;
            div:nth-child(1){width: 130px;color: #2a2a2a;padding-left: 30px;}
            div:nth-child(2){width: calc(100% - 130px);color: #767676;}
            .font_black{
                color: #000 !important;
            }
        }
        ul{
            li{
                position: relative;
                padding-left: 15px;
                &::after{
                    content:"";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 13px;
                    height: 4px;
                    width: 4px;
                    border-radius: 50%;
                    background-color: #9e9e9e;
                }
            }
            
        }
    }
    &__img{margin-top: 35px;}
    &__foot{
        padding-top: 100px;
        strong{
            display: block;
            color: #000;
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 25px;
        }
        p{
            color: #767676;
            line-height: 1.54;
            +p{
                margin-top: 30px;
            }
        }
    }
}
/* CEO */
.ceo{
    &__row{
        display: flex;
    }
    &__img{
        width: 353px;
    }
    &__ment{
        width: calc(100% - 353px);
        padding-left: 65px;
        p{line-height: 1.45;
            +p{
                margin-top: 35px;
            }
        }
        .txt_1{color: #4a4a4a;}
        .txt_2{color: #9e9e9e;}
        .txt_3{color: #9e9e9e;
            span{color: #4a4a4a;}
        }
        .txt_4{color: #9e9e9e;
            span{color: #4a4a4a;}
        }
        .txt_5{color: #010101;}
    }
    &__tit{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: baseline;
        span{
            position: relative;
            display: inline-block;
            font-weight: 500;
            font-size: 30px;
            padding-right: 12px;
            line-height: 1;
            &::after{
                content: "";
                display: inline-block;
                border-radius: 50%;
                background-color: #ed1165;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 7px;
                height: 7px;
            }
            &:nth-child(1){color: #000;margin-bottom: 10px;}
            &:nth-child(2){color: $brand-color;margin-bottom: 45px;}
        }
    }
}

/* 연혁 */
.history{
    padding-bottom: 100px;
    .container{
        position: relative;
    }
    &__line{
        position: absolute;
        left: 50%;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #cdcdcd;
    }
    .top_point{
        position: absolute;
        left: 50%;
        top: 0;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: #ee1c6c;
        transform: translate(-50%,-50%);
    }
    .year__view{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 86px;height: 86px;
        color: #fff;
        font-family: $font-eng;
        font-weight: 600;
        font-size: 24px;
        background-color: #cec8bd;
        &.year_2020{
            background-color: #ee1c6c;
        }
        &.year_1960{
            background-color: #5d5d5d;
        }
        &.year_2020{top: 120px;}
        &.year_2010{top: 425px;}
        &.year_2000{top: 610px;}
    }
}

.history__detail{
    display: flex;
    > div{
        width: 50%;
        display: flex;
    }
    &.l{
        > div{
            padding-right: 30px;
            justify-content: flex-end;
        }
    }
    &.r{
        justify-content: flex-end;
        > div{
            padding-left: 30px;
        }
        .year_img{
            padding-right: 0;
            padding-left: 55px;
            display: block;
        }
    }
    ul{
        li{
            line-height: 1;
            display: flex;
            align-items: center;
            &.endline{
                justify-content: flex-end;
            }
            +li{margin-top: 18px;}
            ._desc{
                color: #9e9e9e;
                &.v2{
                    color: $brand-color;
                }
            }
            ._year{
                display: block;
                color: #000;
                font-family: $font-eng;
                font-weight: 600;
                width: 41px;
                letter-spacing: -0.02em;
            }
            .line{
                display: block;
                margin: 0 12px;
                width: 1px;height: 13px;
                background-color: #cbcbcb;
            }
        }
        .year_img{
            +.year_img{
                margin-top: 45px;
            }
            display: flex;
            justify-content: flex-end;
            margin-top: 24px;
            padding-right: 55px;
            &.r{
                padding-right: 0;
                padding-left: 55px;
            }
        }
    }   
}
.history__detail1{padding-top: 40px;}
.history__detail2{margin-top: -35px;}
.history__detail3{padding-top: 135px;}
.history__detail4{padding-bottom: 24px;margin-top: -35px;}
.history__detail5{position: absolute;left: 0;width: 100%;top: 830px;}

/* 비전 */
.vision{
    &__tit{color:#000;font-weight: 500;padding-bottom: 40px;font-size: 30px;}
    .txt_1{
        color: #000;
        font-size: 22px;
    }
    .txt_2{
        color: #767676;
        font-size: 22px;
        padding: 75px 0 65px;
    }
    &__foot{
        padding: 75px 0 110px;
        h4{font-weight: 500;font-size: 30px;color: #000;padding-bottom: 15px;}
        ul li{font-size: 22px;color: #767676;
            span{
                color: #000;
            }
        }
        @media (max-width:1000px) {
            padding: 80px 0 60px;
        }
        @media (max-width:768px) {
            padding: 65px 0 35px;
            h4{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        }
    }
    &__illu{
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width:768px) {
            display: block;
            overflow: hidden;
            margin: 0 auto;
            width: 300px;
        }
        .box{
            +.box{margin-left: -15px;}
            @media (max-width:1000px) {
                +.box{margin-left: -5px;}
            }
            @media (max-width:768px) {
                float: left;
                &:nth-child(3){margin-left: 0;}
                &:nth-child(3),
                &:nth-child(4){margin-top: 15px;}
            }
        }
        .cir{
            border: 15px solid #000;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 50%;
            margin-bottom: 40px;
            width: 258px;height: 258px;
            &.t1{border-color: #ed1165;background-image: url("../img/company/vision-icon-1.png");
                +.name{color: #ed1165;}
            }
            &.t2{border-color: #fc820a;background-image: url("../img/company/vision-icon-2.png");
                +.name{color: #fc820a;}
            }
            &.t3{border-color: #7ba05b;background-image: url("../img/company/vision-icon-3.png");
                +.name{color: #7ba05b;}
            }
            &.t4{border-color: #b69f86;background-image: url("../img/company/vision-icon-4.png");
                +.name{color: #b69f86;}
            }
            @media (max-width:1000px) {
                margin-bottom: 20px;
                width: 180px;
                height: 180px;
                border-width: 5px;
            }
            @media (max-width:768px) {
                margin-bottom: 5px;
                width: 130px;height: 130px;
                &.t1{background-size: 52px auto;}
                &.t2{background-size: 40px auto;}
                &.t3{background-size: 52px auto;}
                &.t4{background-size: 42px auto;}
            }
        }
        .name{
            font-family: $font-eng;
            font-weight: 700;
            text-align: center;
            font-size: 24px;
            @media (max-width:1000px) {
                font-size: 18px;
            }
            @media (max-width:768px) {
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
}


/* CI 소개 */
.ci{
    @media (max-width:768px) {
        font-size: 14px;
    }
    &__group{
        h3{
            font-weight: 500;
            color: #000;
            font-size: 24px;
            padding-bottom: 10px;
            @media (max-width:768px) {
                font-size: 18px;
            }
        }
        p{
            color: #767676;
            line-height: 1.6;
            @media (max-width:768px) {
                font-size: 14px;
            }
        }
        margin-bottom: 120px;
        @media (max-width:768px) {
            margin-bottom: 50px;
        }
        &.mb-v2{
            margin-bottom: 50px;
            @media (max-width:768px) {
                margin-bottom: 25px;
            }
        }
    }
    &__list{
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        background-color: #f9f9f9;
        padding: 75px 150px;
        margin-bottom: 75px;
        @media (max-width:1000px) {
            padding: 40px 75px;
            margin-bottom: 55px;
        }
        @media (max-width:768px) {
            padding: 20px 15px;
            margin-bottom: 35px;
        }
        &__row{
            display: flex;
            .col{
                width: 50%;
                &:nth-child(2){
                    padding-left: 85px;
                }
            }
            &:first-child{
                margin-bottom: 85px;
            }
            @media (max-width:768px) {
                justify-content: space-between;
                .col{
                    width: 47%;
                    &:nth-child(2){
                        padding-left: 0px;
                    }
                    +.col{
                        margin-top: 0;
                    }
                }
                &:first-child{
                    margin-bottom: 0px;
                }
                &:nth-child(2){
                    margin-top: 25px;
                }
            }

        }
        p{
            font-weight: 300;
            color: #6c6d6f;
            font-size: 16px;
            margin-bottom: 35px;
            @media (max-width:768px) {
                margin-bottom: 10px;
                font-size: 14px;
            }
        }
    }

    &__download{
        text-align: center;
        a{
            display: inline-block;
            color: #fff;background-color: #ed1165;
            font-size: 18px;
            width: 220px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            @media (max-width:768px) {
                font-size: 14px;
                height: 45px;
                line-height: 45px;
            }
        }
    }
}

@media (max-width: 1024px) {
    /* CEO */
    .ceo{
       font-size: 16px;
    }
   
}

@media (max-width: 1000px) {
    /* CEO */
    .ceo{
        font-size: 16px;
        &__row{
            display: block;
        }
        &__img{
            margin: 0 auto;
        }
        &__ment{
            width: calc(100%);
            padding-left: 0;
            p{
                +p{
                    margin-top: 25px;
                }
            }
        }
    }

    /* 연혁 */
    .history{
        &__line{
            left: 0;
        }
        .top_point{
            left: 0;
            width: 12px;
            height: 12px;
            transform: translate(-50%,-50%);
        }
        .year__view{
            position: relative;
            left: 0;
            top: 0 !important;
            width: 86px;height: 86px;
            font-size: 24px;
            margin: 25px 0 25px 20px;
            transform: translateX(0);
            border-radius: 0;
            
            &::after{
                content:"";
                display: block;
                position: absolute;
                left: -20px;
                top:50%;
                
                width: 20px;
                height: 1px;background-color: #5d5d5d;
            }
        }
    }
    
    .history__detail{
        display: block;
        > div{
            width: 100%;
            display: block;
        }
        
        &.l{
            > div{
                padding-right: 0;
                padding-left: 20px;
            }
            .year_img{
                padding-left: 55px;
            }
        }
        &.r{
            > div{
                padding-left: 20px;
            }
            .year_img{
                padding-left: 55px;
            }
        }
        ul{
            li{
                display: flex;
                font-size: 14px;
                &.mb-revers{
                    flex-direction: row-reverse;
                    justify-content: flex-end !important;
                }
                &.endline{
                    justify-content: flex-start;
                }
                +li{margin-top: 12px;}
                .line{
                    margin: 0 6px;
                }
            }
            .year_img{
                +.year_img{
                    margin-top: 25px;
                }
                margin-top: 20px;
                padding-right: 0;
                &.r{
                    padding-right: 0;
                    padding-left: 55px;
                }
            }
        }   
    }
    .history__detail1{padding-top: 9;}
    .history__detail2{margin-top: 0;}
    .history__detail3{padding-top: 0}
    .history__detail4{padding-bottom: 0;margin-top: 0;}
    .history__detail5{position: static;display: none;}


}
@media (max-width: 768px) {
    /* 회사소개 */
    .about{
        &__tit{
            font-size: 18px;
            padding-bottom: 20px;
            color: #343434;
        }
        &__txt{
            font-size: 16px;
            .color_black{
                color: #767676;
            }
        }
        &__table{
            margin-top: 30px;
            border-width: 1px;
            .thead{
                .tr{
                    div:nth-child(1){color: #000;}
                }
            }
            .tr{
                font-size: 16px;
                padding: 15px 0;
                div:nth-child(1){width: 96px;padding-left: 15px;}
                div:nth-child(2){width: calc(100% - 96px);}
                .font_black{
                    color: #000 !important;
                    span{
                        color: #ee1c6c;
                    }
                }
            }
            ul{
                li{
                    padding-left: 10px;
                    &::after{
                        top: 11px;
                        height: 3px;
                        width: 3px;
                    }
                    +li{
                        margin-top: 10px;
                    }
                }
                
            }
        }
        &__img{margin-top: 30px;}
        &__foot{
            padding-top: 40px;
            strong{
                font-size: 18px;
                margin-bottom: 18px;
            }
            p{
               font-size: 16px;
                +p{
                    margin-top: 20px;
                }
            }
        }
    }
    /* CEO */
    .ceo{        
        &__ment{
            padding-top: 25px;
            .txt_2{
                word-break: break-word;
            }
        }
        &__tit{
            margin-bottom: 0;
            span{
                font-size: 20px;   
            }
            span:nth-child(2){margin-bottom: 25px;}
        }
        
    }
     /* 비전 */
     .vision{
        font-size: 16px;
        &__tit{padding-bottom: 25px;font-size: 18px;}
        .txt_1{
            font-size: 16px;
        }
        .txt_2{
            font-size: 14px;
            padding: 25px 0 35px;
        }
    }
    .history .year__view {
        width: 60px;
        height: 60px;
        font-size: 18px;
        border-radius: 5px;
    }
}
.organization{
    padding-bottom: 50px;
    text-align: center;
}
@media (max-width: 600px) {
    .ceo__img{width: auto;}
}