/* 개인정보취급방침 */
.privacy_wrap{
	.tab_contents{
		padding-top: 40px;
		font-size: 16px;
		line-height: 1.6;
		font-weight: 300;
	}
}

@media (max-width: 768px) {
	.privacy_wrap{
		.tab_contents{
			padding-top: 25px;
			font-size: 13px;
		}
	}	
}