@use 'sass:math';


$baseWidth : 1120px;
$baseHeight : 1420px;

$font-eng : "Montserrat";
$font-size : 18px;
$brand-color : #ed1165;


$gutter : 20px;


// media query
$break-small:360px;
$break-small2:490px;
$break-rotate:640px;
$break-medium:768px;
$break-large:960px;
$break-large2:1100px;
$break-large3:1200px;
@mixin respond-to($media) {
  @if $media == mini {
    @media only screen and (max-width:$break-small - 1) {@content;}
  }
  @else if $media == mobile {
    @media only screen and (min-width:$break-small) {@content;}
  }
  @else if $media == mobile2 {
    @media only screen and (min-width:$break-small2) {@content;}
  }
  @else if $media == rotate {
    @media only screen and (min-width:$break-rotate) {@content;}
  }
  @else if $media == tablet {
    @media only screen and (min-width:$break-medium) {@content;}
  }
  @else if $media == pc {
    @media only screen and (min-width:$break-large) {@content;}
  }
  @else if $media == pc2 {
    @media only screen and (min-width:$break-large2) {@content;}
  }
  @else if $media == pc3 {
    @media only screen and (min-width:$break-large3) {@content;}
  }
}
