.prdProcess{
    &__list {
        &.type_red {
            .item_circle {background:$brand-color;}
        }
        &.type_black {
            .item_circle {background:#5d5d5d;}
        }
        &>li {display:flex;margin-bottom:30px;}
        .item_circle {display:flex;flex-shrink:0;align-items:center;justify-content:center;flex-direction:column;width:100px;height:100px;background:#9f9d99;border-radius:50%;text-align:center;color:#fff;
            &.black{
                background-color: #525252;
            }
            &.pink{
                background-color: #ed1165;
            }
        }
        .item_num {display:inline-block;position:relative;font-family: 'Montserrat';font-weight:700;font-size:18px;
            &:after {display:block;width:20px;height:1px;margin-bottom:5px;background:#fff;content:"";}
        }
        .item_tit {font-size:14px;font-weight:500;}
        .item_detail {flex-grow:1;padding-left:16px;display:flex;justify-content:center;flex-direction:column;}
        .detail_list {
            &>li {position:relative;padding-left: 8px;font-size:14px;color:#5a5a5a;line-height:1.4;
                &+li {margin-top:6px;}
                &:before {display: block;position: absolute;left: 0;top: 8px;border-radius: 50%;width: 4px;height: 4px;background-color: #9e9e9e;content: "";}
            }
        }   
    }

    @include respond-to(pc) {
        &__list {display:flex;flex-wrap:wrap;margin:0 -10px;padding-bottom:70px;
            &.type_red {flex-direction:row-reverse;position:relative;
                &:before {display:block;position:absolute;top:-37px;left:12.5%;width:50%;height:2px;background:$brand-color;content:"";}
                &:after {display:block;position:absolute;top:180px;right:12.5%;width:50%;height:2px;background:$brand-color;content:"";}
                .item_circle {position:relative;
                    &:before {display:block;position:absolute;content:"";}
                }
                &>li:nth-child(1) .item_circle:before {left:50%;margin-left:-12px;bottom:-32px;width:24px;height:32px;background:url("../img/production/ico_arrow_up.png") no-repeat;}
                &>li:nth-child(2) .item_circle:before {left:50%;margin-left:-1px;top:-37px;width:2px;height:37px;background:$brand-color;}
                &>li:nth-child(3) .item_circle:before {left:50%;margin-left:-1px;bottom:-32px;width:2px;height:32px;background:$brand-color;}
                &>li:nth-child(4) .item_circle:before {left:50%;margin-left:-12px;top:-37px;width:24px;height:37px;background:url("../img/production/ico_arrow_down.png") no-repeat;}
                .item_detail {margin-top:80px}
                &>li {
                    &+li:before {left:auto;right:-6px;background:url("../img/production/ico_process_arrow2.png") no-repeat;}
                }
                

            }
            &.type_black {
                &>li {
                    &+li:before {background:url("../img/production/ico_process_arrow3.png") no-repeat;}
                }
            }
            &>li {flex-direction:column;flex-basis:25%;padding:0 10px;margin-bottom:0;position:relative;
                &+li:before {display:block;position:absolute;top:72px;left:-6px;width:13px;height:24px;background:url("../img/production/ico_process_arrow.png") no-repeat;content:"";}
            }
            .item_circle {width:150px;height:150px;margin:0 auto;}
            .item_num {font-size:36px;
                font-weight: 600;
                &:after {width:40px;margin: 0 auto 10px;}
            }
            .item_tit {font-size:18px;font-weight: 400;line-height: 1.24;}
            .item_detail {justify-content:flex-start;padding:18px 0 18px;margin-top:20px;border-top:1px solid #000;border-bottom:1px solid #e5e5e5;}
            .detail_list {padding-left:5px;
                &>li {padding-left:12px;font-size:18px;
                    &+li {margin-top:8px;}
                    &:before {top:10px;}
                }
            }
        }
    }

    @include respond-to(pc3) {
        &__list {
            &.type_red {
                &:after {top:212px;}
            }
            &>li {flex-direction:column;
                &+li:before {top:90px;}
            }
            .item_circle {width:182px;height:182px;}
            .item_detail {margin-top:45px;}
        }
    }
}

.mainProcess{
    &__top_text {display:block;padding-bottom:32px;font-size:16px;text-align:center;color:#5a5a5a;
        span {font-family: 'Montserrat';font-weight:700;}
    }
    &__list {max-width:540px;margin:0 auto;
        &>li {margin-bottom:30px;}
        .item_cover {
            img {width:100%;}
        }
        .item_detail {margin-top:16px;border-top:2px solid #000;}
        .item_title {position:relative;padding:8px 10px 8px 38px;border-bottom:1px solid #e5e5e5;font-size:16px;color:#5a5a5a;
            .num {display:inline-block;width:24px;height:24px;position:absolute;top:9px;left:8px;font-family: 'Montserrat';font-weight:700;font-size:16px;color:#fff;background:$brand-color;line-height:24px;text-align:center;border-radius:50%;}
        }
        .item_desc {padding:16px 8px;font-size:16px;color:#9e9e9e;line-height:1.4;}
        .item_txt1 {padding-bottom:8px;}
        .item_txt2 {
            .c_black {color:#5a5a5a;}
            &>li {padding-left:15px;text-indent:-15px;
                &.type_c {position:relative;font-size:16px;padding-left:48px;text-indent:0;color:#5a5a5a;
                    strong {position:absolute;top:0;left:0;padding-right:20px;
                        &:after {display:block;position:absolute;top:5px;right:10px;;width:1px;height:16px;background:#5a5a5a;content:"";}
                    }
                }
                &+li {margin-top:0;}
            }
        }
    }

    @include respond-to(pc) {
        &__top_text {padding-bottom:54px;font-size:24px;font-weight:500;}
        &__list {max-width:100%;
            &>li {display:flex;margin-bottom:50px;}
            .item_cover {flex-shrink:0;width:411px; 
                img {width:auto;}
            }
            .item_detail {flex-grow: 1;margin-top:0;margin-left:40px;}
            .item_title {padding:20px 10px 20px 66px;font-size:18px;
                .num {width:35px;height:35px;top:18px;left:20px;font-size:17px;line-height:35px;}
            }
            .item_desc {padding:28px 30px;font-size:18px;line-height:1.5;}
            .item_txt1 {padding-bottom:8px;}
            .item_txt2 {
                &>li {
                    &.type_c {font-size:18px;padding-left:54px;text-indent:0;color:#5a5a5a;
                        strong {font-weight:400;padding-right:20px;
                            &:after {height:18px;}
                        }
                    }
                    &+li {margin-top:0;}
                }
            }
        }
    }
}


.facilities{
    &__top_text {display:block;padding-bottom:32px;font-size:16px;text-align:left;color:#5a5a5a;}
    &__title {position:relative;padding:0 0 12px;font-size:18px;font-weight:500;color:#000;
        span {font-family: 'Montserrat';font-weight:700;}
    }

    &__tab_cont {padding:20px 15px;border-top:1px solid #000;
        &.active {display:block;}
        .item_cover {padding:15px 0 0;border-top:1px solid #e5e5e5;margin:0 -15px;}
    }
    &__texts {margin-bottom:20px;
        &>li {position:relative;padding-left: 8px;font-size:14px;color:#767676;line-height:1.4;
            &+li {margin-top:6px;}
            &:before {display: block;position: absolute;left: 0;top: 8px;border-radius: 50%;width: 4px;height: 4px;background-color: #9e9e9e;content: "";}
        }
    }
    .bt_facilities_list {
        &.swiper-button-prev,  &.swiper-button-next {width:36px;height:36px;
            &:after {display:none;}
        }
        &.swiper-button-prev {background:url(../img/production/ico_slide_circle_left.png) no-repeat;background-size:auto 36px;border:0 none;}
        &.swiper-button-next {background:url(../img/production/ico_slide_circle_right.png) no-repeat;background-size:auto 36px;border:0 none;}
    }
    @include respond-to(pc) {
        &__top_text {padding-bottom:38px;font-size:24px;font-weight:500;}
        &__title {padding:0 0 42px;text-align:center;font-size:24px;font-weight:700;}
        &__tab_cont {padding:50px 58px;border-top:1px solid #000;
            .item_cover {padding:15px 0 0;margin:0 -58px;}
        }
        &__texts {padding-left:5px;margin-bottom:50px;
            &>li {padding-left:12px;font-size:18px;
                &+li {margin-top:8px;}
                &:before {top:10px;}
            }
        }
        .bt_facilities_list {
            &.swiper-button-prev,  &.swiper-button-next {width:72px;height:72px;}
            &.swiper-button-prev {background-size:auto 62px;}
            &.swiper-button-next {background-size:auto 72px;}
        }
    }
}

