img{vertical-align: top;}
.product{
    .tabmenu{
        border-top: 2px solid #000;
    }
    &__list{
        border-top: 1px solid #b2b2b2;
        border-bottom: 1px solid #b2b2b2;
        padding: 30px 0;
        overflow: hidden;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        float: left;
        width: 50%;
        margin-top: 45px;
        padding-left: 25px;
        padding-right: 40px;
        &:nth-child(1),
        &:nth-child(2){margin-top: 0;}
        
        .desc{
            .subject{
                a{
                    color: #232323;
                    font-weight: 700;
                    font-size: 24px;
                }
            }
            dl{
                display: flex;
                line-height: 1;
                +dl{margin-top: 10px;}
                dt{
                    color: #4a4a4a;
                    margin-right: 10px;
                }
                dd{
                    color: #9e9e9e;
                }
            }
        }
        .thumb{
            a{
                display: block;
                width: 213px;height: 225px;
                background:#f4f5f7 url("../img/common/no-image.png") no-repeat 50% 50%;
            }
        }
    }
}
.cate__list{
    display: flex;
    padding: 25px 0 25px 30px;
    li{
        line-height: 1;
        +li{
            position: relative;
            margin-left: 13px;
            padding-left: 17px;
            &::after{
                content:"";
                display: block;
                position: absolute;
                left: 0;
                top: 2px;
                height: 18px;
                width: 1px;
                background-color: #c8c8c8;
            }
        }
        a{
            color: #232323;
        }
        &.current{
            a{
                color: $brand-color;
            }
        }
    }
}

.fast__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 20px 45px;
    p{
        background: url("../img/product/fast-icon.png") no-repeat 0 50%;
        height: 25px;
        line-height: 25px;
        color: #767676;
        padding-left: 45px;
        strong{color: #000;font-size: 20px;font-weight: 500;padding-right: 8px;display: inline-block;}
    }
    a{
        display: inline-block;
        border: 1px solid #dedede;
        color: #767676;
        padding: 9px 52px;
        transition: all 0.1s ease;
        &:hover{
            color: #fff;background-color: #555555;border-color: 555555;
        }
    }
}
/* 합성수지 */
.resin{
    &__tit{
        font-weight: 500;
        color: $brand-color;
        font-size: 24px;
        padding-top: 90px;
        padding-bottom: 35px;
    }
    &__content{
        border-top: 1px solid #000;
        &.bdb{
            border-bottom: 1px solid #cccccc;
        }
    }
    &__subject{
        font-weight: 500;
        color: #000;
        border-bottom: 1px solid #cccccc;
        padding-left: 15px;
        height: 60px;
        line-height: 60px;
    }
    .desc{
        padding: 40px 20px;
        color: #767676;
        line-height: 1.5;
        ul{
            li{
                position: relative;
                padding-left: 17px;
                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 13px;
                    width: 4px;
                    height: 4px;
                    background-color: #9e9e9e;
                    border-radius: 50%;
                }
                +li{
                    margin-top: 30px;
                }
                color: #767676;
                line-height: 1.6;
                strong{
                    display: block;
                    font-weight: 400;color: #000;
                }
            }
        }
    }
    &__img{
        display: flex;
        justify-content: space-between;
        padding-top: 110px;
    }
    &__button{
        display: flex;
        justify-content: center;
        padding-top: 230px;
        a{
            display: block;
            color: #fff;
            width: 188px;
            height: 59px;
            line-height: 59px;
            background-repeat: no-repeat;
            background-color: #a1a1a1;
            transition: all 0.1s ease;
            &:hover{
                background-color: #ed1164;
            }
        }
        .lb_download{
            padding-left: 60px;
            background-image: url("../img/product/resin-btn-icon-1.png");
            background-position: 25px 50%;
        }
        .lb_link{
            background-image: url("../img/product/resin-btn-icon-2.png");
            background-position: 16px 50%;
            margin-left: 14px;
            padding-left: 50px;
        }
    }
}

.productView__tit{
    color: $brand-color;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 10px;
}
.prd_detail{
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 45px 60px 85px;
    .img_zone{
        width: 41.5%;
        .big_size{
            background-color: #fff;
            border: 1px solid #cccccc;
            height: 465px;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                display: block;
                position: absolute;
                bottom: 10px;
                right: 15px;
                width: 28px;
                height: 28px;
                border: 0;
                background:transparent url("../img/product/icon-zoom.png") no-repeat 0 0;
            }
        }
        .big_size-item{
            display: none;
        }
        .small_size{
            display: flex;
            border: 1px solid #cccccc;
            margin-top: 8px;
            a{
                display: block;
                position: relative;
                overflow: hidden;
                height: 114px;
                width: 25%;
                background: #f4f3f3 url("../img/product/no_image.png") no-repeat 50% 50%;
                img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
                +a{
                    border-left: 1px solid #ccc;
                }
            }
        }
    }
    .desc_zone{
        padding-left: 65px;
        width: 58.5%;
        .subject{
            font-weight: 700;
            line-height: 1;
            color: #000;
            border-bottom: 1px solid #969696;
            padding-bottom: 15px;
            font-size: 24px;
        }
        dl{
            display: flex;
            +dl{
                border-top: 1px solid #e0e0e0;
            }
            line-height: 1;
            padding: 14px 0;
            dt{
                color: #000;
                font-weight: 400;
                width: 80px;
                padding-left: 10px;
            }
            dd{
                width: calc(100% - 80px);
                color: #9e9e9e;
                line-height: 1.34;
            }
        }
    }
}
.explain{
    h3{
        border-bottom: 1px solid #ccc;
        font-weight: 500;
        color: #000000;
        padding-left: 20px;
        height: 60px;
        line-height: 60px;
    }
    h4{
        color: #000;
        font-weight: 500;
        padding-bottom: 30px;
    }
    .edit_list{
        padding-left: 10px;
        li{
            line-height: 1.34;
            position: relative;
            color: #9e9e9e;
            padding-left: 25px;
            +li{margin-top: 10px;}
            &::after{content:"";display: block;position: absolute;left: 0;top: 11px;width: 4px;height: 4px;background-color: #6d6d6d;border-radius: 50%;}
        }
        +h4{
            margin-top: 70px;
        }
    }
    .edit_content{
        padding: 70px 15px;
        border-bottom: 1px solid #cccccc;
        line-height: 1.6;
        color: #767676;
        .txt{
            padding-bottom: 80px;
        }
    }
    .img_area{
        display: flex;
        padding: 0 15px;
        padding-bottom: 70px;
        margin: 0 -8px;
        .cols{
            padding: 0 8px;
        }
    }
}

.productView{
    .btn__group{
        text-align: center;
        padding-top: 65px;
    }
}


@media (max-width: 1000px) {
    /* BI */
    .product{
        font-size: 16px;
        .tabmenu{
            border-top: 1px solid #000;
        }
        &__list{
            padding: 20px 0;
        }
        &__item{
            margin-top: 25px;
            padding-left: 15px;
            padding-right: 20px;
            &:nth-child(1),
            &:nth-child(2){margin-top: 0;}
            
            .desc{
                .subject{
                    a{
                        font-size: 20px;
                    }
                }
            }
           
        }
    }

    .resin{font-size: 16px;}

    .fast__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #000;
        padding: 20px 45px;
        p{
            background: url("../img/product/fast-icon.png") no-repeat 0 50%;
            height: 25px;
            line-height: 25px;
            color: #767676;
            padding-left: 45px;
            strong{color: #000;font-size: 20px;font-weight: 500;padding-right: 8px;display: inline-block;}
        }
        a{
            display: inline-block;
            border: 1px solid #dedede;
            color: #767676;
            padding: 9px 52px;
        }
    }

    .productView__tit{
        font-size: 18px;
    }
    .prd_detail{
        padding: 25px 30px 40px;
        .img_zone{
            width: 41.5%;
            .big_size{
                height: auto;
            }
        }
        .desc_zone{
            padding-left: 35px;
        }
    }
}
@media (max-width: 768px) {
    /* BI */
    .product{
        &__item{            
            margin-top: 15px;
            padding-left: 0;
            padding-right: 0;            
            flex-direction: column-reverse;
            justify-content: flex-start;
            overflow: hidden;
            padding: 0 5px;
            &:nth-child(1),
            &:nth-child(2){margin-top: 0;}
            .desc{
                .subject{
                    margin-bottom: 7px;
                    a{
                        font-size: 16px;
                    }
                }
                dl{
                    font-size: 14px;
                }
            }
            .thumb{
                width:100%;
                a{
                    display: block;
                    height: auto;
                    width: auto;
                    padding-bottom: 86.25%;
                }
            }
        }
    }
    .cate__list{
        padding: 15px;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: stretch;
        li{
            display: inline-block;
            white-space: nowrap;
            a{
                font-size: 14px;
            }
        }
    }
    .fast__link{
        padding: 10px 15px;
        display: block;
        p{
            padding-left: 25px;
            background-size: auto 18px;
            font-size: 12px;
            height: auto;
            background-position: 0 4px;
            strong{
                font-size: 18px;
                display: block;
            }
        }
        a{
            display: block;
            width: 100%;
            padding: 5px 0;
            text-align: center;
            margin-top: 10px;
            background-color: #555555;
            border-color: #555555;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }
    }
    /* 합성수지 */
    .resin{
        &__tit{
           font-size: 20px;
            padding-top: 40px;
            padding-bottom: 25px;
        }
        &__subject{
            height: 45px;
            line-height: 45px;
        }
        .desc{
            padding: 25px 12px;
            ul{
                li{
                    padding-left: 12px;
                    +li{
                        margin-top: 15px;
                    }
                }
            }
        }
        &__img{
            padding-top: 60px;
        }
        &__button{
           padding-top: 80px;
           display: flex;
           justify-content: space-between;
            a{
                width: 49%;
                height: 48px;
                line-height: 48px;
            }
            .lb_download{
                padding-left: 44px;
                background-size: auto 20px;
                background-position: 18px 50%;
            }
            .lb_link{
                background-position: 10px 50%;
                margin-left: 2%;
                padding-left: 40px;
                background-size: auto 20px;
            }
        }
    }
    .prd_detail{
        display: block;
        padding: 20px 25px 35px;
        .img_zone{
            width: 100%;
            .big_size{
                &::after{
                    bottom: 10px;
                    right: 10px;
                    width: 18px;
                    height: 18px;
                    background-size: 100% auto;
                }
            }
            .small_size{
                margin-top: 5px;
                a{
                    height: auto;
                    width: 25%;
                    min-height: 64px;
                    background-size: auto 20px;
                }
            }
        }
        .desc_zone{
            padding-left: 0;
            width: 100%;
            .subject{
                font-size: 18px;
                padding-bottom: 10px;
                padding-top: 20px;
            }
            dl{
                padding: 7px 0;
                font-size: 16px;
                dt{
                    width: 60px;
                    padding-left: 5px;
                }
                dd{
                    width: calc(100% - 60px);

                }
            }
        }
    }
    .explain{
        font-size: 16px;
        h3{
            padding-left: 10px;
            height: 45px;
            line-height: 45px;
        }
        h4{
            padding-bottom: 15px;
        }
        .edit_list{
            li{
                font-size: 16px;
                padding-left: 15px;
                +li{margin-top: 7px;}
                &::after{}
            }
            +h4{
                margin-top: 70px;
            }
        }
        .edit_content{
            padding: 35px 10px;
            .txt{
                padding-bottom: 40px;
            }
        }
        .img_area{
            padding: 0;
            padding-bottom: 35px;
            margin: 0;
            display: block;
            .cols{
                padding: 0;
                +.cols{
                    margin-top: 5px;
                }
            }
        }
    }

    .productView{
        .btn__group{
            padding-top: 35px;
        }
    }
    .productView__tit{
        padding-bottom: 7px;
    }
}

.modal__product{
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: all 0.25s;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    .swiper-slide{
        background-color: #fff;
    }
    .swiper{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        display: block;
        border: 1px solid #ddd;
    }
}

.modal_slide_wrapper{
    position: relative;
    margin: 0 auto;
    max-width:850px;
    z-index: 10;
    .swiper-button-prev,
    .swiper-button-next{width: 72px;height: 72px;}
    .swiper-button-prev{
        left: -125px;
        &::after{
            font-size: 0;
            width: 100%;
            height: 100%;
            background: url("../img/product/prev.png") no-repeat 50% 50%;
        }
    }
    .swiper-button-next{
        right: -125px;
        &::after{
            width: 100%;
            height: 100%;
            font-size: 0;
            background: url("../img/product/next.png") no-repeat 50% 50%;
        }
    }
}
.big__img{
    position: relative;
    text-align: center;
}
.product__thumb_paging{
    display: flex;
    border-top: 1px solid #ccc;
    a{
        display: block;
        position: relative;
        overflow: hidden;
        height: 220px;
        width: 25%;
        background: #f4f3f3 url("../img/product/no_image.png") no-repeat 50% 50%;
        +a{
            border-left: 1px solid #ccc;
        }
    }
}
.modal__Slide_close{
    position: absolute;
    right: 33px;
    top: 40px;
    width: 35px;height: 35px;
    z-index: 10;
    background: url("../img/product/close.png") no-repeat 0 0;
    border: 0;
}

@media (max-width: 860px) {
    .modal__product{

    }

    .modal_slide_wrapper{
        margin-left: 20px;
        margin-right: 20px;
        max-width: calc(100% - 40px);
        .swiper-button-prev,
        .swiper-button-next{width: 40px;height: 40px;z-index: 10;}
        .swiper-button-prev{
            left: 10px;
            &::after{
                background-size: 100% auto;
                background-image: url("../img/product/prev-active.png");
            }
        }
        .swiper-button-next{
            right: 10px;
            &::after{
                background-size: 100% auto;
                background-image: url("../img/product/next-active.png");
            }
        }
    }
    .big__img{}
    .product__thumb_paging{
        a{
            height: auto;
            width: 25%;
        }
    }
    .modal__Slide_close{
        width: 30px;
        height: 30px;
        background-size: 30px auto;
        right: 20px;
        top: 20px;
    }
}