.c_red {color:$brand-color;}
.c_black {color:#000;}
.guaranteed{
    &__page_p {padding-bottom:18px;font-size:18px;
        span.c_red {color:$brand-color;}
    }
    .br_pc {display:none;}

    &__wrap {padding:16px 10px 16px;}
    &__img_box {text-align:left;}
    &__desc_box {padding:8px 0 16px;}
    &__p {font-size:16px;color:#767676;}
    &__list {padding-top:10px;
        &>li {font-size:16px;}
        &>li + li {padding-top:6px;}
        dl {display:flex;position:relative;
            &:before {display:block;position:absolute;top:10px;left:0;width:4px;height:4px;background:#9e9e9e;border-radius:50%;content:"";}
        }
        dt {padding-left:10px;color:#5a5a5a;}
        dd {padding-left:12px;color:#9e9e9e;}
    }
    @include respond-to(pc) {
        &__page_p {padding-bottom:32px;font-size:24px;}
        .br_pc {display:block;}
        &__wrap {display:flex;padding:30px 10px 56px;}
        &__img_box {text-align:center;}
        &__desc_box {display:flex;flex-direction:column; justify-content: space-between; padding:0 0 0 30px;}
        
        
    }
    @include respond-to(pc2) {
        &__p {font-size:18px;}
        &__desc_box {padding:16px 0 0 30px;}
        &__list {padding-top:18px;
            &>li {font-size:18px;}
            dl {
                &:before {top:12px;}
            }
            dt {padding-left:16px;}
            dd {padding-left:20px;color:#9e9e9e;}
        }
    }
    @include respond-to(pc3) {
        &__list {padding-top:0;}
    }
}

.accordion{
    &__wrap {}
    &__list {border-top:1px solid #000;
        &>li + li {border-top:1px solid #e5e5e5;}
        &>li.active:first-child {border-top:0 none;}
        &>li:last-child {border-bottom:1px solid #e5e5e5;}
        &>li.active {border-top:1px solid #000;border-bottom:1px solid #000;
            &:last-child {border-bottom:0 none;}
        }
    }
    &__head {position:relative;padding-right:40px;}
    &__title {position:relative;padding:12px 0 12px 36px;font-size:18px;font-weight:500;color:#000;
        .num {display:inline-block;width:24px;height:24px;position:absolute;top:13px;left:4px;font-family: 'Montserrat';font-weight:700;font-size:16px;color:#fff;background:$brand-color;line-height:24px;text-align:center;border-radius:50%;}
    }
    &__btn {position:absolute;top:0;left:0;overflow:hidden;width:100%;height:100%;background:none;border:0 none;color:transparent;text-indent:-9999px;
        &:after {display:block;position:absolute;top:50%;right:5px;width:24px;height:13px;margin-top:-7px;background:url("../img/quality/accordion_arrow_x2.png") no-repeat;background-size:24px auto;transform: rotate(180deg);content:"";}
        &.active {
            &:after {transform: rotate(0);}
        }
    }
    &__body {display:none;border-top:1px solid #e5e5e5;
        &.active {}    
    }

    @include respond-to(pc) {
        &__head {padding-right:80px;}
        &__title {padding:18px 0 18px 60px;font-size:20px;
            .num {width:40px;height:40px;top:14px;left:6px;font-size:20px;line-height:40px;}
        }
        &__btn {
            &:after {right:26px;}
        }
    }
}

.mgmtSystem {
    &__top_text {display:block;padding-bottom:32px;font-size:16px;text-align:center;color:#5a5a5a;}
    &__steps {display:flex;flex-wrap: wrap;flex-direction:row;width:100%;max-width:520px;margin:0 auto;
        &>li {display:flex;flex-basis:calc(50% - 20px);justify-content:flex-start;flex-direction:column;margin:0 10px;text-align:center;margin-bottom:25px;}
        .step_item {display:block;font-size:16px;font-weight:700;color:#cec8bd;}
        .tit_item {font-size:16px;font-weight:500;color:#5a5a5a;}
    }
    &__points {max-width:520px;margin:0 auto;
        .item {padding-bottom:52px;}
        .item_tit {display:block;margin-bottom:20px;font-size:18px;text-align:center;font-weight:500;line-height:36px;border-radius:18px;background:$brand-color;color:#fff;}
        .item_point {display:block;position:relative;padding-left:36px;margin-bottom:10px;font-size:16px;font-weight:500;text-align:left;
            .num {display:inline-block;width:24px;height:24px;position:absolute;top:1px;left:4px;font-size:16px;font-family: 'Montserrat';font-weight:700;color:#fff;background:#5a5a5a;line-height:24px;border-radius:50%;text-align:center;}
        }
        ul {padding-left:14px;
            &>li {position: relative;padding-left: 10px;font-size:14px;color:#767676;
                &:before {display: block;position: absolute;left: 0;top: 10px;border-radius: 50%;width: 4px;height: 4px;background-color: #9e9e9e;content: "";}
            }
        }
    }
    .br_pc {display:none;}
    .table_wrap + .mgmtSystem__top_text {margin-top:60px;}


    @include respond-to(pc) {
        &__top_text {padding-bottom:32px;font-size:24px;font-weight:500;}
        &__steps {max-width:100%;padding-bottom:28px;
            &>li {position:relative;flex-basis:calc(25% - 20px);margin:0 10px;margin-bottom:48px;}
            &>li+li:after {display:block;position:absolute;top:90px;left:-15px;width:13px;height:24px;background:url("../img/quality/ico_mgmtsystem_arrow.png") no-repeat;content:"";}
            &>li:nth-child(5):after {display:none;}
            .step_item {padding-top:17px;padding-bottom:2px;line-height:1;font-size:18px;}
            .tit_item {font-size:18px;font-weight:400;}
        }
        &__points {max-width:100%;display:flex;justify-content: space-between;gap:40px;
            .item {position:relative;padding-bottom:0;width:100%;
                &+.item:before {display:block;position:absolute;top:0;left:-21px;background:#cccc;width:1px;height:100%;content:"";}
            }
            .item_tit {margin-bottom:60px;font-size:24px;line-height:54px;border-radius:27px;background:$brand-color;color:#fff;}
            .item_point {padding-left:42px;padding-top:2px;margin-bottom:24px;font-size:18px;font-weight:400;
                .num {width:30px;height:30px;top:1px;left:4px;font-size:18px;line-height:30px;}
            }
            ul {padding-left:14px;
                &>li {padding-left: 10px;margin-bottom:6px;font-size:18px;
                    &:before {left: 0;top: 12px;width: 4px;height: 4px;}
                }
            }
        }
        .br_pc {display:block;}
        .table_wrap + .mgmtSystem__top_text {margin-top:90px;padding-bottom:70px;}
    }
    @include respond-to(pc3) {padding-bottom:80px;
        &__points {gap:100px;
            .item {
                &+.item:before {left:-51px;}
            }
        }
    }
}


.certification{
    &__top_text {display:block;padding-bottom:32px;font-size:16px;text-align:left;color:#5a5a5a;}
    &__list {
        &>li {display:flex;padding-bottom:36px;}
        .item_cover {position:relative; flex-shrink: 0;width:30%;
            img {box-shadow: 8px 8px 0px 0px #f2f1f1;}
        }
        .item_detail {flex-grow:1;margin-left:20px;border-top:1px solid #000;}
        .item_title {padding:8px 10px;border-bottom:1px solid #e5e5e5;font-size:14px;font-weight:500;color:#5a5a5a;}
        .item_desc {padding:8px 10px;font-size:14px;font-weight:400;color:#9e9e9e;}
    }
    @include respond-to(pc) {
        &__top_text {padding-bottom:38px;font-size:24px;font-weight:500;}
        &__list {display:flex;flex-wrap:wrap;-webkit-box-pack:justify;justify-content:space-between;border-bottom:1px solid #ccc;
            &>li {padding-bottom:75px;flex-basis:calc(50% - 15px);}
            .item_cover {width: 44.3%;
                img {box-shadow: 15px 15px 0px 0px #f2f1f1;}
            }
            .item_detail {margin-left:25px;}
            .item_title {padding:21px 16px;line-height:1.4;font-size:18px;font-weight:400;}
            .item_desc {padding:25px 10px;line-height:1.4;font-size:18px;font-weight:400;color:#9e9e9e;}
        }
    }
}

.sec-cont{
    &__title {display:block;padding-bottom:8px;font-size:20px;font-weight:500;color:#000;}
    &__list {padding-bottom:42px;
        &>li {position: relative;padding-left: 20px;font-size:16px;color:#767676;
            &:before {display: block;position: absolute;left: 6px;top: 10px;border-radius: 50%;width: 4px;height: 4px;background-color: #9e9e9e;content: "";}
        }
    }
    &__stit {display:block;position:relative;padding-left:40px;margin-bottom:20px;font-size:18px;font-weight:400;color:#5a5a5a;}
    &__num {display:inline-block;position:absolute;top:0;left:0;width:30px;height:30px;font-size:18px;line-height:30px;font-family: 'Montserrat';font-weight:700;font-weight:400;text-align:center;color:#fff;border-radius:50%;background:#5a5a5a;}

    @include respond-to(pc) {
        &__title {padding-bottom:12px;font-size:24px;}
        &__list {padding-bottom:95px;
            &>li {font-size:18px;
                &:before {top:14px;}
            }
        }
        &__stit {margin-bottom:26px;}
    }
}
.unMark__img{
    margin-bottom: 60px;
    text-align: center;
    @include respond-to(pc) {
        margin-bottom: 125px;
    }
}

.table_wrap {width:100%;vertical-align:middle;padding-bottom:20px;
    .w_100 {width:100%;}
    .w_768 {width:768px;}
    table {font-size:16px;border-top:2px solid #000;
        caption {overflow:hidden;font-size:medium;line-height:normal;width:100%;height:0;word-break:break-all;opacity:0;}
    }
    thead {
        th {background-color:#f2f2f2;border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5;font-weight:500;padding:15px 12px;color:#5a5a5a; vertical-align: middle;
            &:last-child {border-right:none;}
        }
    }
    tbody, tfoot {
        th, td {padding: 15px 8px;vertical-align: middle;}
        th {border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5;background-color:#f2f2f2;font-weight:500;color:#5a5a5a; 
            &:last-child {border-right:0;}
        }
        td {border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5;color:#797979;text-align:left;
            &:last-child {border-right:0;}
        }
    }
    &.scrollstyle {overflow-x: auto;
        table {table-layout: auto;}
    }
    &.align_l {
        thead, tbody, tfoot {
            td, th {text-align:left;}
        }
    }
    &.align_c {
        thead, tbody, tfoot {
            td, th {text-align:center;}
        }
    }
    &.align_r {
        thead, tbody, tfoot {
            td, th {text-align:center;}
        }
    }
    .graybg {background-color:#f7f7f7;}
    .txt-c_black {color:#2a2a2a;}
    .txt-l {text-align:left;}
    .txt-c {text-align:center;}
    .txt-r {text-align:center;}
    &+.sec-cont__stit {margin-top:40px;}
    
    @include respond-to(tablet) {
        .w_768 {width:100%;}
    }
    @include respond-to(pc) {
        table {font-size:18px;}
        thead {
            th {padding:21px 36px;}
        }
        tbody, tfoot {
            th, td {padding: 21px 36px;}
        }
    }
}