
.frm_input,
.frm_select{
    display: block;
    border: 1px solid #ccc;
    height: 43px;
    color: #9e9e9e;
    width: 100%;
}

.frminquiry{
    &__tit{
        color: #979797;
        border-top: 2px solid #000;
        line-height: 1.5;
        padding-top: 55px;
        padding-bottom: 40px;
        padding-left: 40px;
        font-size: 18px;
    }
    .frm_row{
        padding: 12px 0;
        border-top: 1px solid #e5e5e5;
        display: flex;
        align-items: center;
    }
    .frm_lbl{
        display: inline-block;
        width: 180px;
        padding-left: 30px;
        color: #5a5a5a;
    }
    .frm_name{
        width: 340px;
    }
    .frm_tel{
        width: 570px;
        display: flex;
        align-items: center;
        .hypen{
            display: block;
            width: 27px;
            text-align: center;
        }
        .frm_select,
        .frm_input{
            width: calc(33.333% - 18px);
        }
    }
    .frm_email{
        width: 570px;
    }
    .frm_notify{
        display: flex;
        .in_tit{
            color: #5a5a5a;
            width: 180px;
            padding-left: 30px;
            font-size: 18px;
        }
        .scroll{
            width: calc(100% - 180px);
            overflow-y: auto;
            padding: 27px;
            border: 1px solid #ccc;
            height: 250px;
            h4{
                color: #9e9e9e;
                font-size: 18px;
                line-height: 1.34;
                padding-bottom: 30px;
            }
            ul{
                li{
                    color: #5a5a5a;
                    position: relative;
                    font-size: 18px;
                    padding-left: 14px;
                    &::after{
                        content:"";
                        position: absolute;
                        left: 0;
                        top: 14px;
                        display: block;
                        border-radius: 50%;
                        width: 4px;height: 4px;
                        background-color: #5a5a5a;
                    }
                }
            }
        }
    }
    .frm_aree{
        display: flex;
        justify-content: flex-end;
        padding: 20px 0 35px;
        label{color: #9e9e9e;
            display: inline-block;
            +label{
                margin-left: 20px;
            }
        }
    }
    .frm_edit{
        width: calc(100% - 180px);

    }
    .frm_textarea{
        height: 245px;
        padding: 20px;
        border: 1px solid #ccc;
        width: 100%;
        resize: none;
        font-size: 18px;
    }
    &__button{
        display: flex;
        justify-content: center;
        padding-top: 50px;
        border-top: 1px solid #e5e5e5;
        button,
        a{
            display: block;
            color: #fff;
            width: 187px;
            height: 53px;
        }
        a{
            background-color: #bbbbbb;
            text-align: center;
            line-height: 53px;
        }
        button{
            background-color: $brand-color;
            border: 0;
            margin-left: 13px;
        }
    }
    &__foot{
        background-color: #e5e5e5;
        display:flex;
        padding: 50px 0 46px;
        margin-top: 85px;
        .txt{
            padding: 0 100px 0 90px;
            text-align: center;
            strong{
                display: block;
                color: #5a5a5a;
                font-family: $font-eng;
                font-weight: 700;
                font-size: 24px;
            }
            p{
                color: #979797;
                font-size: 18px;
            }
        }
        ._list{
            ul{
                li{
                    +li{
                        margin-top: 7px;
                    }
                    position: relative;
                    display: flex;
                    padding-left: 20px;
                    &::after{
                        content:"";
                        position: absolute;
                        left: 0;
                        top: 11px;
                        display: block;
                        border-radius: 50%;
                        width: 7px;height: 7px;
                        background-color: #555555;
                    }
                }
            }
            .fir{   
                color: #5a5a5a;
                width: 130px;
            }
            .tel,
            .mail{
                position: relative;
                display: block;
                padding-left: 20px;
                margin-left: 15px;
                
            }
            .tel{
                a{color: #979797;cursor: default;}
            }
            .mail{
                a{
                    color: #979797;
                }
            }
        }
    }
}

button{
    cursor: pointer;
}
/* 오시는길 */
.office{
    padding: 50px 0 45px 30px;
    &_name{color: #000;}
    &_addr{color: #9e9e9e;padding: 12px 0 5px;}
    &_tel{color: #9e9e9e;}
}
#map{height: 500px;border: 1px solid #cecece;}

@media (max-width: 1000px) {
    .frm_input, .frm_select{
        font-size: 16px;
    }
    .frminquiry{
        &__tit{
            padding: 25px;
            font-size: 15px;
        }
        
        .frm_lbl{
            font-size: 16px;
        }
        .frm_aree{
            label{font-size: 16px;}
        }
        .frm_notify {
            .in_tit{
                font-size: 16px;
            }
            .scroll {
                h4{
                    font-size: 16px;
                }
                ul{
                    li{
                        font-size: 16px;
                    }
                }
            }
        }
        &__foot{
            .txt{
                padding: 0 30px;
            }
        }
    }
    .frm_radio_g{
        display: flex;
        color: #5a5a5a;
    }
    .office{
        font-size: 16px;
        padding: 40px 0 30px 20px;
    }
    #map{height: 400px}
}
@media (max-width: 900px) {
    .frminquiry{        
        &__foot{
            display: block;
            .txt{
                padding: 0;
            }
            ._list{
                padding: 0 20px;
                ul{
                    li{
                        display: block;
                        span{margin-left: 0 !important;padding-left: 0 !important;}
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .frminquiry{
        .frm_lbl{
            width: 110px;
            padding-left: 15px;
        }
        .frm_edit,
        .frm_cate,
        .frm_email,
        .frm_tel,
        .frm_name{width: calc(100% - 110px);}
        .frm_tel{
            .hypen{
                width: 15px;
            }
            .frm_select,
            .frm_input{
                width: calc(33.333% - 10px);
            }
        }
        .frm_notify{
            .in_tit{
                width: 110px;
                padding-left: 15px;
            }
            .scroll{
                height: 180px;
                padding: 15px;
                width: calc(100% - 110px);
            }
        }
        .frm_edit{
            .frm_textarea{
                height: 180px;
                padding: 15px;
            }
        }
        &__foot{
           margin-top: 40px;
           padding: 30px 0 25px;
        }
    }
    
    .office{
        padding: 30px 0 25px 20px;
        &_addr{padding: 5px 0 2px;}
    }
    #map{height: 280px}
}
@media (max-width: 768px) {
    .frminquiry {
        .frm_radio_g{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: baseline;
            align-content: stretch;
        }
        .frm_notify{
            display: block;
            border-top: 1px solid #e5e5e5;
            padding-top: 12px;
            .in_tit,
            .scroll{
                width: 100%;
            }
            .in_tit{margin-bottom: 5px;padding-left: 0;}
            .in_tit br{display: none;}
        }
        .frm_aree{
            padding: 10px 0 12px;
        }
        .frm_content{
            display: block;
            .frm_lbl{
                padding-left: 0;
                margin-bottom: 5px;
            }
            .frm_edit{
                width: 100%;
            }
        }
    }
    .frminquiry__foot ._list ul li{
        font-size: 14px;
        padding-left: 13px;
        &::after{
            width: 5px;
            height: 5px;
            top: 9px;
        }
    }
}