
@charset "utf-8";

.row{
    margin : 0 10px;
}
.container{
    margin: 0 auto;
    max-width: 1120px;
    &::after{
        content:"";
        display: block;
        clear: both;
        overflow: hidden;
    }
}

.color_black{color:#000;}
.color_brand{color:#ed1165}

.mb-hide{}
.mb-show{display: none;}
.tel__link{cursor: default;}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.btn{
    display: inline-block;
    color: #fff;
    width: 187px;
    height: 59px;
    line-height: 59px;
    text-align: center;
}
.btn-1{
    background-color: #a1a1a1;
    color: #fff;
}
@media (max-width: 768px) {
    .btn{
        height: 45px;
        line-height: 45px;
        width: 160px;
        font-size: 16px;
    }
    .mb-hide{
        display: none;
    }
    .mb-show{
        display: block;
    }
}