@import "./fn";

body{font-family: $font-eng;font-size: 20px;}

.gnb{
	#subMenu1{
		
		@media only screen and (min-width: 960px){
			left: 40px;	
		}
		@media only screen and (min-width: 1100px){
			left: 85px;
		}
	}
	#subMenu2{
		@media only screen and (min-width: 960px){
			left: 180px;
		}
		@media only screen and (min-width: 1100px){
			left: 220px;	
		}
	}
	#subMenu3{
		@media only screen and (min-width: 960px){
			left: 230px;
		}
		@media only screen and (min-width: 1100px){
			left: 260px;	
		}
	}
	#subMenu4{
		@media only screen and (min-width: 960px){
			left: 285px;
		}
		@media only screen and (min-width: 1100px){
			left: 345px;	
		}
	}
	#subMenu6{
		@media only screen and (min-width: 960px){
			left: 625px;	
		}
		@media only screen and (min-width: 1100px){
			left: 670px;	
		}
		
	}
}

/* 메인 */
.main_visual .main-txt_name{font-weight: 700;}
.main-about_texts .item_desc{letter-spacing: -0.025em;}

@media only screen and (min-width: 960px){
	.main-about_title:after {margin-bottom: 20px;}	
	.main-business_wrap .main-txt_eng span{font-weight: 400;}
}

/* 회사소개 */
@media only screen and (min-width: 1000px){
	.page__name span{font-weight: 400;}
}

#subContents{letter-spacing: -0.04em;}
.about__tit{font-weight: 400;}

.about{
	&__table{
		ul{
			li{
				span{display: inline-block;position:relative;
					padding-right: 7px;
					margin-right: 10px;
					color: #000;
					&:after{
						content:"";
						display: block;
						position: absolute;
						right: 0;
						top: 7px;
						width: 1px;
						height: 19px;
						background-color: #767676;
					}
				}
			}
		}
		.tr{
			div:nth-child(1){width: 230px;}
			div:nth-child(2){width: calc(100% - 230px);}
		}
		@media (max-width: 768px) {
			ul{
				li{
					span{
						display: block;
						padding-right: 0;
						margin-right: 0;
						font-weight: 500;
						&:after{
							display: none;
						}
					}
				}
			}
			.tr{
				div:nth-child(1){width: 170px;}
				div:nth-child(2){width: calc(100% - 170px);}
			}	
		}
	}
}

.ceo{
	&__tit{
		span{
			font-weight: 400;
		}
	}
	.txt_5{
		span{
			display: block;
			color: $brand-color;
		}
	}
}

.vision{
	&__tit{
		font-weight: 400;
	}
	&__foot{
		ul{
			li{
				font-size: 20px;
				@media (max-width:768px) {
					font-size: 14px;
				}
			}
		}
		
	}
}


/* 합성수지 */
.busresin__txt p{
	
}

/* 제품소개 */
.resin_en{
	.txt-1{
		color: #000;
		font-size: 24px;
		line-height: 1.4;
	}
	.txt-2{
		color: #767676;
		line-height: 1.4;
		margin-top: 20px;
		padding-bottom: 100px;
	}
}
.pamphlet__list{
	ul{
		li{
			+li{margin-top: 30px;}
			display: flex;
			justify-content: space-between;
			.thumb{}
			.desc{
				border-top: 2px solid #000;
				width: calc(100% - 390px);
				h3{
					height: 66px;
					line-height: 66px;
					padding-left: 5px;
					border-bottom: 1px solid #e5e5e5;
					color: #000;
					font-weight: 400;
				}
				.txtgroup{
					padding: 30px 0 0 5px;
					color: #767676;
				}
			}
		}
	}
}

/* 영문 */
.contact{
	&__wrap{
		border: 2px solid #000;
		border-left: 0;
		border-right: 0;
		.group-1,
		.group-2{
			padding: 20px 0;
			border-bottom: 1px solid #e5e5e5;
		}
		.group-3{
			padding: 30px 20px;
		}
		.group-1{
			color: #000;
			font-size: 24px;
			span{
				display: block;
				color: $brand-color;
			}
			@media (max-width:959px) {
				font-size: 18px;
			}
		}
		.group-2{
			.txt{
				color: #9e9e9e;
				line-height: 1.5;
				padding-bottom: 28px;
				@media (max-width:959px) {
					padding-bottom: 20px;
					font-size: 16px;
				}
			}
			.img{
				position: relative;
				span{
					position: absolute;left: 50%;top: 50%;
					transform: translate(-50%,-50%);
				}
				@media (max-width:768px) {
					span{
						img{
							height: 44px;
						}
					}
				}
			}
			.en_addr{
				padding-left: 25px;
				padding-top: 38px;
				color: #767676;
				line-height: 1.4;
				@media (max-width:959px) {
					padding-left: 20px;
					padding-top: 30px;
					font-size: 16px;
				}
				h4{
					font-size: 24px;
					font-weight: 700;
					color: #000;
					@media (max-width:959px) {
						font-size: 18px;
					}
				}
				a{
					color: #767676;
				}

			}
		}
		.group-3{
			display: flex;
			padding-left: 20px;
			@media (max-width:959px) {
				display: block;
				padding-left: 10px;
			}
			p{
				color: #000;
				i{
					display: inline-block;
					vertical-align: top;
					margin-left: 5px;
					transform: translateY(8px);
				}
				margin-bottom: 7px;
				@media (max-width:959px) {
					font-size: 16px;
					margin-bottom: 0;
					i{
						transform: translateY(6px);
						img{
							height: 14px;
						}
					}
				}
			}
			a{
				color: #767676;
				@media (max-width:959px) {
					font-size: 16px;
				}
			}
			div+div{
				margin-left: 18.75%;
				@media (max-width:959px) {
					margin-left: 0;
					margin-top: 25px;
				}

			}
		}
	}
}

/* 품질관리 */
.mgmtSystem{
	@media (min-width:960px) {
		&__top{
			&_text{
				text-align: left;
				color: #000;
				line-height: 1.4;
				font-weight: 400;
				padding-bottom: 60px;
				span{
					color: $brand-color;
					font-size: 30px;
					display: block;
					margin-bottom: 7px;
				}
				&.v2{
					text-align: center;
					font-size: 30px;
					span{
						color: $brand-color;
					}
				}
			}
		}
		&__steps{
			padding-bottom: 125px;
			.step_item{
				display: block;margin-bottom: 6px;
			}
			.tit_item{
				line-height: 1.2;
				font-size: 20px;
			}
		}
		&__points .item_tit{
			font-size: 18px;
			margin-bottom: 44px;
		}
		&___points{
			ul > li{
				font-size: 20px;
			}
		}
	}
}

.certification{
	.mgmtSystem__points{
		ul{
			padding-left: 0;
			li{
				@media (min-width:960px) {
					font-size: 20px;
					&:before{
						top: 14px;
					}
				}
			}
		}
	}
}
.certification_en{
	&_top_txt{
		color: #ed1165;
		font-size: 18px;
		line-height: 1.3;
		margin-bottom: 20px;
	}
	&_top_img{
		padding: 50px 0 65px;
	}
	@media (min-width:960px) {
		&_top_txt{
			font-size: 30px;
			margin-bottom: 35px;
		}
		&_top_img{
			padding: 95px 0 130px;
		}
	}
}
.certification__list._en{
	@media (min-width:960px) {
		display: block;
		li{		
			justify-content: flex-start;
		}
		.item_cover{
			width: 266px;
		}
		.item_detail{
			margin-left: 0;
		}
	}
}

.mainProcess__top_text{
	text-align: left;
	color: #767676;
	font-weight: 400;
	b{
		font-weight: 700;
	}
	@media (min-width:960px) {
		font-size: 24px;
	}
}

.facilities{
	.tabmenu._ea5{
		display: block;
		border-bottom: 0;
		a{
			width: 100%;
			text-align: left;
			justify-content: flex-start;
			padding-left: 15px;
			font-size: 14px;
			border-left: 0;
			border-right: 0;
			border-bottom: 1px solid #dfdfdf;
			@media (min-width :960px) {
				padding-left: 45px;
				font-size: 20px;
			}
			&.current{
				border-bottom: 1px solid #000;
			}
		}
	}
}
.facilities__top_text{
	@media (min-width :960px) {
		font-size: 20px;
		font-weight: 400;
	}
}
.facilities__tab_cont{
	border-top: 0;
	@media (min-width :960px) {
		padding-top: 20px;
	}
}
.facilities__tab_cont .item_cover{
	padding: 0;	
	border-top: 0;
}

.accordion__wrap{
	padding-bottom: 75px;
	@media (min-width :960px) {
		padding-bottom: 150px;
	}
}

.accordion__title{
	font-weight: 400;
}

.bi_en{
	&__top__tit{
		font-size: 24px;
		color: #000;
		margin-bottom: 15px;
		@media (max-width: 959px) {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
	&__top_txt{
		color: #767676;
		line-height: 1.4;
		@media (max-width: 959px) {
			font-size: 16px;
		}
	}
	&__list{
		margin-top: 60px;
		@media (max-width: 959px) {
			margin-top: 35px;
		}
		>ul{
			>li{
				border-top: 2px solid #000;
				padding-bottom: 50px;
				@media (max-width: 959px) {
					padding-bottom: 30px;
					border-top: 1px solid #000;
				}
				&:last-child{padding-bottom: 0;border-bottom: 0;}
				.head{
					display: flex;
					height: 66px;
					border-bottom: 1px solid #e5e5e5;
					align-items: center;
					padding-left: 14px;
					@media (max-width: 959px) {
						padding-left: 10px;
						height: 50px;
						font-size: 16px;
						font-weight: 600;
					}
					span{
						display: inline-block;
						line-height: 1;
					}
					span:first-child{
						color: $brand-color;
						+span{
							position: relative;
							margin-left: 10px;
							padding-left: 13px;
							&::after{content:"";display: block;position: absolute;left: 0;top: 0;width: 1px;height: 19px;background-color: #000;}
							@media (max-width: 959px) {
								padding-left: 10px;
								margin-left: 9px;
								&::after{
									height: 12px;
								}
							}
						}
					}
				}
				.body{
					padding: 40px 0 0;
					@media (max-width: 959px) {
						padding: 25px 0 0;
					}
					.body_fir{
						color: #767676;
						font-size: 18px;
						padding-left: 10px;
						padding-bottom: 30px;
						@media (max-width: 959px) {
							font-size: 16px;
							padding-bottom: 25px;
						}
					}
					.body_flex{
						display: flex;
						@media (max-width: 768px) {
							display: block;
						}
						.thumb{
							width: 400px;
							@media (max-width: 768px) {
								width: 100%;
							}
						}
						.txtgorup{
							width: calc(100% - 400px);
							@media (max-width: 768px) {
								width: 100%;
								margin-top: 25px;
							}
							div{
								h4{font-weight: 700;color: #000;font-size: 18px;
									@media (max-width: 959px) {
										font-size: 17px;
									}
								}
								+div{
									margin-top: 20px;
								}
							}
							ul{
								li{
									color: #767676;
									position: relative;
									font-size: 18px;
									padding-left: 12px;
									line-height: 1.24;
									&::after{content:"";display: block;position: absolute;left: 0;top: 10px;border-radius: 50%;background-color: #9f9f9f;width: 4px;height: 4px;}
									+li{
										margin-top: 5px;
									}
									@media (max-width: 959px) {
										font-size: 16px;
										&::after{
											top: 7px;
										}
									}
								}
							}
							p{
								color: #767676;
								line-height: 1.24;
								font-size: 18px;
								@media (max-width: 959px) {
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}
}