@import "fn";
body {overflow-x: hidden;
    &.menu_on {overflow:hidden;width:100%;height:100%;}
}
#wrap {padding-top:62px;
    @include respond-to(pc) {
        padding-top:0;
    }
}
.inner_cont {padding-left:20px;padding-right:20px;
    @include respond-to(pc) {
        max-width:1140px;margin:0 auto;padding-left:10px;padding-right:10px;
    }
}

.btn_basic {display:inline-block;min-width:140px;height:38px;;border:1px solid #8c8c8c;font-size:16px;;background:#8c8c8c;color:#fff;line-height:36px;text-align:center;
    &:hover {background:$brand-color;border-color:$brand-color;}
    @include respond-to(pc) {
        min-width:186px;height:48px;font-size:18px;line-height:46px;
    }
}


.header {position:fixed;top:0;left:0;width:100%;background: #2a2a2a;z-index:100;
    .inner_cont {position:relative;}
    .head_logo {width:72px;margin:0 auto;padding:18px 0 19px;
        .logo {display:block;width:100%;height:25px;background:url(../img/common/header-logo.png) no-repeat;background-size:auto 25px;background-position:center center;text-indent:-9999px;}
    }
    @include respond-to(pc) {
        position:relative;background:#fff;border-bottom:2px solid $brand-color;
        &:after {visibility:hidden; position:absolute;top:98px;right:0;width:100%;height:0;background:#fff;border-bottom:1px solid #dcdcdc;transition: all 0.2s ease;z-index:9;content:"";}
        &.on:after {visibility:visible;height:52px;}
        .inner_cont {display:flex;position: static;}
        .head_logo {width:113px;padding:27px 0 29px;margin:0;
            .logo {width:113px;height:40px;background:url(../img/common/header-logo_pc.png) no-repeat;background-size:auto 40px;}
        }
    }
}

.btn_gnb {display:flex;align-items:center;justify-content:center;flex-direction:column; position:absolute;top:0;left:0;width:63px;height:62px;border:0 none;outline:none;background:none;z-index:31;cursor: pointer;
    .bar_{
        &1,&2,&3 {display:block;width:23px;height:3px;border-radius:2px;background:#fff;transition: all 0.25s ease-in-out;}
        &1,&2 {margin-bottom:5px;}
    }
    .menu_on & {
        .bar_{
            &1 {transform: translatey(8px) rotate(-45deg);}
            &2 {visibility: hidden;opacity: 0;}
            &3 {transform: translatey(-8px) rotate(45deg);}
        }
    }
    @include respond-to(pc) {
        display:none;
    }
}

.gnb_wrap {display:none;width:100%;position:fixed;top:0;left:0;width:100vw;height:100vh;padding-top:62px;z-index:30;
    &::before {display:block;position:absolute;top:62px;left:0;z-index:-1;width:100vw;height:100vh;background:#000;opacity:0;content:"";transition: opacity 0.35s ease-in;}
    &.active {display:block;
        .gnb  {animation: ShowMenu 0.19s ease;}
        &::before {opacity: .8;}
    }
    &.hide {
        .gnb {animation: hideMenu 0.19s ease-in;}
    }
    @keyframes ShowMenu {
        from {transform : translateX(-100%);}
        to {transform : translateX(0);}
    }
    @keyframes hideMenu {
        from {transform : translateX(0);}
        to {transform : translateX(-100%);}
    }
    @include respond-to(pc) {
        display:block;position:static;width:calc(100% - 113px);height:auto;padding-top:0;
        &::before {display:none;}
        .gnb {animation:none;}
    }
}

.gnb {display:flex; flex-direction:column;width:258px;height: calc(100vh - 62px);background:#fff;overflow-x: hidden;overflow-y: auto;transform : translateX(-100%);
    .menu_on & {transform : translateX(0);}
    .one-depth_{
        &list {align-self: flex-start;display:flex;flex-direction:column;width:100%;
            &>li {border-bottom:1px solid #dcdcdc;}
        }
        &item {display:block;padding:13px 20px 14px;font-size:16px;font-weight:400;color:#2a2a2a;
            &.active {color:$brand-color;}
        }
    }
    .two-depth_{
        &list {display:none;background:#f9f9f9;}
        &item {display: block;padding:11px 30px;border-top: 1px solid #dcdcdc;font-size:15px;color:#808080;}
    }
    .link-option_{
        &list {display:flex;align-items:center;padding:17px 20px;gap:5px;
            &>li {position:relative;}
        }
        &item {display:block;font-size:14px;padding:6px 15px;border-radius:50px;color:#fff;background:$brand-color}
    }
    .link-depth_{
        &list {display:none;position:absolute;align-items:center;flex-direction:column;overflow:hidden;position: absolute;top:38px;width: 100%;padding: 6px 0;background: #fff;box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);border-radius: 16px;z-index:20;}
        &item {display:block;border: none;font-size: 14px;padding: 2px 12px;text-align: center;}
    }
    @include respond-to(pc) {
        flex-direction:row; width:100%;height:auto; overflow:initial;transform:translateX(0);
        .one-depth_{
            &list {flex-direction:row; padding-top:23px;padding-left:20px;justify-content: center;
                &>li {border-bottom:0 none;}
            }
            &item {height:73px;padding-bottom:31px;font-size:18px;font-weight:500;}
        }
        .two-depth_{
            &list {position:absolute;top:98px;display:flex;overflow:hidden;flex-direction:row;width:100%;height:0;background:none;z-index:10;transition: all 0.2s ease;
                &.on {display:flex;height:52px;}
            }
            &item {border-top:0 none;font-size:16px;padding:11px 16px;color:#2a2a2a;
                &:hover {color:$brand-color}
            }
        }
        .link-option_{
            &list {gap:15px;padding:0;}
        }
        .link-depth_{
            &list {top:40px;}
        }
        #subMenu {
            &1 {left:40px;}
            &2 {left:140px;}
            &3 {left:230px;}
            &4 {left:340px;}
            &5 {left:270px;}
            &6 {left:520px;}
        }
    }
    @include respond-to(pc2) {
        .one-depth_{
            &list {padding-left:0;}
        }

        #subMenu {
            &1 {left:130px;}
            &2 {left:220px;}
            &3 {left:330px;}
            &4 {left:440px;}
            &5 {left:340px;}
            &6 {left:590px;}
        }
    }
}

#allMenuWrap.all-menu_{
    &wrap {display:none;position:absolute;top:96px;left:0;width:100%;border-top:1px solid #dcdcdc;background:#fff;border-bottom:2px solid #ed1164;z-index:100;
        &.active {display:none;}
        .row {display:flex;gap:5px; width:100%;max-width:1140px;margin:0 auto;padding:60px 10px;}
        .all-menu_list {flex-grow: 1; width:170px;
            & > li.depth1_top {padding-bottom:25px;}
            & > li {padding-bottom:18px;}
        }
        .depth1_top .all-menu_item {font-size:22px;font-weight:700;color:#2a2a2a;}
        .all-menu_item {display:block; 
            &.childs .icon {display:inline-block;position:relative;width:12px;height:12px;margin-left:8px; vertical-align: 1px;
                &:after {display:block;position:absolute;top:50%;left:50%;width:2px;height:12px;transform:translate(-50%, -50%);background:#a0a0a0;content:"";}
                &:before {display:block;position:absolute;top:50%;left:50%;width:12px;height:2px;transform:translate(-50%, -50%);background:#a0a0a0;content:"";}
            }
            &.active {color:$brand-color;
                &.childs .icon{
                    &:after {display:none;}
                }
            }
        }
        .all-childs_wrap {display:none;padding-top:15px;
            &>li {padding-top:5px;}
        }
        .all-childs_item {display:block;font-size:16px;color:#808080;}
    }
    @include respond-to(pc2) {
        &wrap {
            .row {gap:15px;}
        }
    }
}
li.all-menu_wrap {display:none;}
@include respond-to(pc) {
    body.all_menu_on {overflow: hidden;width:100%;height:100%;}
    body.all_menu_on:after {display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.8; content:"";}
    body.all_menu_on .gnb_wrap {position:relative;}
    body.all_menu_on .gnb_wrap:after {display:block;position:absolute;top:0;right:30px;width:calc(100% - 50px);height:100%;background:#fff;content:"";}
    li.all-menu_wrap {display:block;width:30px;height:24px;}
    #allMenuWrap.all-menu_wrap.active {display:block;}
}
@include respond-to(pc2) {
    body.all_menu_on .gnb_wrap:after {width:calc(100% - 100px);}
}

.btn_allmenu {display:flex;align-items:center;justify-content:center;flex-direction:column; position:absolute;top:0;left:0;width:30px;height:24px;border:0 none;outline:none;background:none;z-index:31;cursor: pointer;
    .bar_{
        &1,&2,&3 {display:block;width:30px;height:4px;border-radius:4px;background:$brand-color;transition: all 0.25s ease-in-out;}
        &1,&2 {margin-bottom:6px;}
    }
    &.active {
        .bar_{
            &1 {transform: translatey(10px) rotate(-45deg);}
            &2 {visibility: hidden;opacity: 0;}
            &3 {transform: translatey(-10px) rotate(45deg);}
        }
    }
}

.footer{background-color: #3a3a3a;
    .row {max-width:550px;margin:0 auto;padding:46px 20px 0;}
    &__logo{overflow:hidden; width:79px; height:28px; background: url("../img/common/footer-logo_x2.png") no-repeat; background-size: auto 28px; margin:0 0 15px 18px;text-indent:-9999px;}
    &__link{display: flex;
        li{position: relative;padding:0 6px;
            +li { flex-grow: 1;text-align:center;
                &::before{content:"";display: block;position: absolute;left: 0;top: 9px;height: 16px;width: 1px;background-color: #fff;opacity: 0.2;}
            }
            a {color: #b0b0b0;font-size: 14px; letter-spacing:-0.75px;}
        }
    }
    &__family {position:relative;padding:16px 0 12px;
        .select_footer {width:100%;padding:10px;border: 1px solid #555;font-size: 14px;background-color: #555;color: #bebdbd; outline: none;-webkit-appearance:none;-moz-appearance:none;appearance:none;
             &::-ms-expand{display:none;}
        }
        &:after {display:block;position:absolute;top:50%;right:15px;width:15px;height:8px;background:url("../img/common/select-arrow-up.png") no-repeat; background-size: auto 8px;margin-top:-4px;content:"";}
        
    }
    &__addr{border-top:1px solid #616161;padding:25px 0;font-size:15px;color:#696969;line-height:1.2;
        address {}
        a {display: inline-block;color: #696969;}
        p {}
    }
    @include respond-to(mobile) {
        &__link{
            li {padding:0 12px;}
        }
    }
    @include respond-to(mobile2) {
        &__link{
            li {padding:0 16px;}
        }
    }

    @include respond-to(pc) {
        .row {max-width:1140px;padding:46px 10px 0;}
        &__content{display:flex;padding-bottom:20px;}
        &__logo{width:129px; height:46px; margin: 0;  background: url("../img/common/footer-logo_x1.png") no-repeat; background-size: auto 46px;}
        &__link{align-items:flex-end; padding-left:40px;line-height:1.2;
            li {padding:0 12px;
                +li {
                    &::before{top:5px;}
                }
                a {font-size:16px;
                    transition: all 0.1s ease;
                    &:hover {color:#fff;}
                }
            }
            .mb-hide {display:block;}
        }
        &__family {margin-left:auto;padding:0;
            .select_footer {width:245px;padding: 9px 25px;font-size: 16px;}
            &:after {right:17px;width:18px;height:10px;background:url("../img/common/select-arrow-down_x1.png") no-repeat; background-size: auto 10px;margin-top:-8px;}
        }
        &__addr{padding:12px 0 42px;
            address {display:inline-block;}
            a {display: inline-block;color: #696969;}
            p {display:inline-block;}
        }
    }
}


@media (max-width:1000px) {
    .row{
        margin: 0 $gutter;
    }
}
/* sublayout */
#subContents{padding-bottom: 130px;}
.subtop{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    max-height: 420px;
    padding-bottom: 56.25%;
    h2,
    h3{
        color: #fff;
        font-family: $font-eng;
        text-align: center;
        line-height: 1.1;
    }
    h2{
        font-weight: 700;
        font-size: 24px;
    }
    h3{
        font-weight: 600;
        font-size: 19px;
        text-transform: uppercase;
    }
    .subtop__txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }    
}

._company{background-image: url("../img/company/bg-subtop-company.png");}
._support{background-image: url("../img/support/bg-subtop-support.png");}
._product{background-image: url("../img/product/bg-subtop-product.png");}
._business{background-image: url("../img/business/bg-subtop-business.png");}
._quality{background-image: url("../img/quality/bg-subtop-quality.png");}
._production{background-image: url("../img/production/bg-subtop-production.jpg");}

.location{
    padding-top: 20px;
    padding-bottom: 65px;
    ul{
        display: flex;
        align-items: center;
        li{
            color: #9e9e9e;
            font-size: 13px;
            &:first-child{
                background: url("../img/common/location-icon.png") no-repeat 50% 50%;
                background-size: 100% auto;
                font-size: 0;
                width: 15px;
                height: 12px;
            }
            +li{
                position: relative;
                margin-left: 6px;
                padding-left: 12px;
                &::before{
                    content:">";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.page__name{
    font-size: 0;
    line-height: 1;
    padding-bottom: 50px;
    span{
        display: inline-block;
        position: relative;
        font-weight: 500;
        color: #000;
        font-size: 23px;
        padding-right: 12px;
        &::after{
            content:"";
            display: inline-block;
            border-radius: 50%;
            background-color: $brand-color;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateY(-50%);
            width: 5px;height: 5px;
        }
    }
}
@media (min-width:768px) {
    .subtop{
        padding-bottom: 0;
        height: 320px;        
        h2{
            font-size: 36px;
        }
        h3{
            font-size: 24px;
        }
    }
    .page__name{
        span{
            font-size: 28px;
        }
    }
}

@media (min-width:1000px) {
    .subtop{
        padding-bottom: 0;
        height: 380px;        
        h2{
            font-size: 41px;
        }
        h3{
            font-size: 28px;
            font-weight: 400;
        }
    }
    .location{
        padding-top: 28px;
        padding-bottom: 130px;
        ul{
            li{
                &:first-child{
                    width: 20px;
                    height: 17px;
                }
                +li{
                    font-size: 16px;
                    padding-left: 15px;
                    margin-left: 8px;
                }
            }
        }
    }
    .page__name{
        padding-bottom: 85px;
        span{
            font-size: 40px;
            padding-right: 18px;
            &::after{
                transform: translateY(0);
                width: 7px;
                height: 7px;
            }
        }
    }
}
.mb-show{display: none;}
@media (max-width:768px) {
    #subContents{letter-spacing: -0.04em;}
    .mb-show{display: block;}
    .mb-hide{display: none;}
    #subContents{padding-bottom: 60px;}
}
@media (max-width:370px) {
    .location ul li + li{
        font-size: 12px;
        white-space: nowrap;
    }
}

@media (min-width:768px) {
    #subContents *{letter-spacing: -0.04em;}
}