@import "fn";

#mainBanner {position:relative;padding: 0;background: transparent;}
.main_visual {max-height: 780px;height: auto;
	.swiper {max-height: 780px;height: auto;}
	.swiper-slide {padding: 20% 0 30%;background-position: 50% 50%;background-size: cover;text-align:center;line-height:1.2;}
	.swiper-container-horizontal {
		> .swiper-pagination-bullets {bottom:5%;
			.swiper-pagination-bullet {margin:0 6px;width:8px;height:8px;background-color: #fff;opacity: 1;transform:scale(1);vertical-align: middle;}
			.swiper-pagination-bullet-active {width:12px;height:12px;background-color: $brand-color;}
		}
	}
	.main-txt{
		&_name {font-size:15px;font-weight:500;color:$brand-color;}
		&_desc {font-size:20px;color:#fff;}
		&_eng {padding-top:25px;font-size:24px;font-weight:700;color:#fff;font-family: 'Montserrat';}
	}
	.br_pc {display:none;}
	@include respond-to(pc) {
		.swiper {height:780px;}
		.swiper-slide {padding: 200px 0px 160px;}
		.swiper-container-horizontal {
			 > .swiper-pagination-bullets {bottom:75px;
				.swiper-pagination-bullet {width:10px;height:10px;margin:0 11px;}
				.swiper-pagination-bullet-active {width:16px;height:16px;}
			 }
		}
		
		.br_mo {display:none;}
		.br_pc {display:inline;}
		.main-txt{
			&_name {font-size:30px;}
			&_desc {font-size:40px;}
			&_eng {padding-top:15px;font-size:48px;}
		}
	}
}


.main-about_{
	&wrap {
		.row {padding: 30px 20px 65px;margin:0 auto;max-width:700px;}
	}
	&item {
		&.desc {padding-top:20px;}
	}
	&title {line-height:1.2;
		strong.item_eng {font-family: 'Montserrat';font-weight:900;font-size:24px;letter-spacing: -0.75px;color:#010000;
			.c_red {color:$brand-color;}
		}
		span.item_eng {display:block;font-size:19px;font-weight:500;color:#a09e9f;}
		&:after {display:block;width:30px;height:2px;margin:16px 0 20px;background:$brand-color;content:"";}
	}
	&texts {line-height:1.3;
		.item_tit {font-size:18px;color:#343434;font-weight:700;}
		.item_desc {padding:13px 0 27px;font-size:16px;color:#767676;}
	}

	@include respond-to(pc) {
		&wrap {
			.row {display:flex;flex-direction:row-reverse;padding:50px 10px 56px;margin:0 auto;max-width:1140px;gap:20px;}
		}
		&item {
			&.desc {flex:auto;padding-top:58px;}
		}
		&title {
			strong.item_eng {font-size:40px;}
			span.item_eng {font-size:28px;}
			&:after {width:40px;height:3px;margin:34px 0 36px;}
		}
		&texts {line-height:1.3;
			.item_tit {font-size:24px;}
			.item_desc {padding:13px 0 42px;font-size:18px;}
		}	
	}
}

.main-business_{
	&wrap {position:relative;
		.swiper-container {max-height: 780px;height: auto;padding-bottom:50px;}
		.swiper-slide {padding:33% 20px 10%;background-position: 50% 50%;background-size: cover;text-align:left;;line-height:1.2;}
		.swiper-container-horizontal {
			> .swiper-pagination-bullets {
				.swiper-pagination-bullet {margin:0 6px;width:8px;height:8px;background-color: #c7c7c7;opacity: 1;transform:scale(1);vertical-align: middle;}
				.swiper-pagination-bullet-active {width:12px;height:12px;background-color: $brand-color;}
			}
		}
		.main-txt_ {
			&eng {font-family: 'Montserrat';font-weight:900;font-size:24px;letter-spacing: -0.75px;font-size:20px;color:#fff;
				span {display:block;font-weight:900;}			
				&:after {display:block;width:30px;height:2px;margin:10px 0;background:#fff;content:"";}
			}
			&top {display:block;padding-bottom:12px;font-size:20px;font-weight:700;color:#fff;}
			&desc {font-size:14px;font-weight:400;color:#fff;letter-spacing: -0.25px;}
		}
		.desc_bottom {padding-top:26px;text-align:center;}
		.btn_basic {background:transparent;border-color:#fff;
			&:hover {background:$brand-color;border-color:$brand-color;}
		}
	}
	&title {position:absolute;top:20%;left:50%;text-align:center;font-family: 'Montserrat';font-weight:900;font-size:24px;letter-spacing: -0.75px;transform:translate(-50%,-50%);color:#fff;z-index:2;color:$brand-color;}

	@include respond-to(pc) {
		&wrap {
			&:hover {
				.main-business_title {color:$brand-color;}
			}
			.swiper-container {padding-bottom:0;}
			.swiper-slide {padding:295px 0 105px;
				&:first-child {
					.inner_box {margin-left:auto;padding-left:10px;padding-right:45px;}
					+ .swiper-slide {
						.inner_box {padding-left:45px;}
					}
				}
				&:after {display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0;transition: all 0.25s ease-in-out;content:"";}
				&:hover {
					&:after {opacity:0.4;}
					.main-txt_ {
						&eng {color:$brand-color;
								&:after {background:$brand-color;}
						}
					}
					.btn_basic {background:$brand-color;border-color:$brand-color;transition: all 0.25s ease-in-out;}
				}
			}
			.swiper-container-horizontal {
				> .swiper-pagination-bullets {display:none;}
			}
			.inner_box {display:flex;flex-direction:column;max-width:560px;position:relative;z-index:2;}
			.main-txt_ {
				&eng {font-size:30px;color:#fff;transition: all 0.25s ease-in-out;
					span {display:block;font-weight:900;}			
						&:after {width:40px;height:3px;margin:28px 0;background:#fff;transition: all 0.25s ease-in-out;}
				}
				&top {font-size:24px;}
				&desc {font-size:18px;line-height:1.6;}
			}
			.desc_bottom {padding-top:48px;text-align:left;}
		}
		&title {top:128px;font-size:48px;letter-spacing: -0.75px;transform:translate(-50%,0);transition: all 0.25s ease-in-out;}
	}

	@include respond-to(pc2) {
		&wrap {
			.swiper-slide {padding:295px 0 105px;
				&:first-child {
					.inner_box {padding-right:95px;}
					+ .swiper-slide {
						.inner_box {padding-left:95px;}
					}
				}
			}
		}
	}
	
}

.main-products_{
	&wrap {
		.row {padding:55px 0 85px;}
		.products-tab_list {display:flex;overflow:hidden;width:100%;margin:0 auto;border:1px solid #c4c4c4;border-radius:22px;
			&>li { position:relative; flex-grow: 1;
				width: 50%;
				+ li:after {position:absolute;top:50%;left:-3px;display:block;width:5px;height:5px;background:#9e9e9e;border-radius:50%;margin-top:-3px;content:"";}		
			}
			.btn_tab {display:block;width:100%;padding:12px 10px;text-align:center;color:#9e9e9e;font-size:17px;background:#fff;border:0 none;font-weight:700;cursor:pointer;
				&.active {color:#ed1165;}
			}
		}
		.product-tab_cont {position:relative;display:none;padding-top:20px;border-bottom:1px solid #ccc;
			&.active {display:block;}
		}
		.bt_products_list {
			&.swiper-button-prev,  &.swiper-button-next {width:39px;height:39px;top:auto;bottom:11px;
				&:after {display:none;}
			}
			&.swiper-button-prev {background:#fff url(../img/main/m_swiper_arrow_left_x1.png) no-repeat;background-size:auto 38.5px;border:0 none;}
			&.swiper-button-next {background:#fff url(../img/main/m_swiper_arrow_right_x1.png) no-repeat;background-size:auto 38.5px;border:0 none;}
		}
	}
	&tab {padding-top:24px;}
	&title {padding-bottom:5px;text-align:center;font-family: 'Montserrat';font-weight:700;font-size:24px;letter-spacing: -0.75px;color:#010000;}
	&text {font-size:16px;text-align:center;line-height:1.4;color:#9e9e9e;}
	&item {
		.item_detail {line-height:0;text-align:center;}
		.item_cover {display:none;line-height:1.4;}
		.item_bottom {display:block;padding:18px 48px;text-align:center;font-size:16px;font-weight:500;color:#343434;}
	} 
	
	
	@include respond-to(pc) {
		&wrap {
			.row {max-width:1140px;padding:134px 0 160px;;margin:0 auto}
			.br_mo {display:none;}
			.products-tab_list {max-width:524px;border-radius:32px;
				.btn_tab {padding:21px 10px 20px;font-size:20px;
					&.active {color:#ed1165;}
				}
			}
			.product-tab_cont {position:relative;padding-top:34px;}
			.bt_products_list {
				&.swiper-button-prev,  &.swiper-button-next {width:34px;height:34px;bottom:20px;}
				&.swiper-button-prev {background:url(../img/main/m_swiper_arrow_left_x1.png) no-repeat;background-size:auto 33px;border:0 none;
					&:hover {background:url(../img/main/m_swiper_arrow_left_x1_h.png) no-repeat;background-size:auto 33px;}
				}
				&.swiper-button-next {background:url(../img/main/m_swiper_arrow_right_x1.png) no-repeat;background-size:auto 34px;border:0 none;
					&:hover {background:url(../img/main/m_swiper_arrow_right_x1_h.png) no-repeat;}
				}
			}
		}
		&tab {padding-top:0;}
		&text {padding-top:30px;font-size:18px;}
		&column {display:flex; flex-direction:column-reverse;}
		&title {padding-bottom:8px;font-size:48px;}
		&item {
			.item_bottom {padding:21px 40px;font-size:18px;}
			.item_detail {position:relative;line-height:0;text-align:center;}
			.item_cover {display:flex;align-items:center;justify-content:center;flex-direction: column; position:absolute;top:0;left:0;width:100%;height:100%;line-height:1.4;color:#fff;padding:0 30px;text-align:left;background:rgba(237, 17, 100, .8);opacity: 0;transition: all 0.25s ease-in-out;
				.item_tit {display:block;width:100%;padding-bottom:8px;font-size:16px;border-bottom:1px solid rgba(255, 255, 255, .4);}
				.item_desc {padding:8px 0;font-size:16px;}
			}
			&:hover {
				.item_cover {opacity: 1;}
			}
		}
	}
	@include respond-to(pc4) {
		&wrap {
			.bt_products_list {
				&.swiper-button-prev,  &.swiper-button-next {width:51px;height:51px;top:50%;bottom:auto;}
				&.swiper-button-prev {left:-91px;}
				&.swiper-button-next {right:-91px;}
			}
		}
	}
}

.main-vision_{
	&wrap {background:#f2f1f1;
		.row {padding:66px 0 70px;max-width:1140px;}
		.br_pc {display: none;}
	}
	&title {padding-bottom:60px;font-size:20px;color:#979696;text-align:center;line-height:1.4;font-weight:700;
		font-family: 'Montserrat';
		.c_red {color:$brand-color;}
		.c_black {color:#010000;}
	}
	&list {display:flex;flex-direction:column;gap:25px;}
	&item {display:flex;gap:16px;
		.box_bt {display:none;}
	}
	&img {width:50%;flex-shrink:0;text-align:center;line-height:0;
		img {width:100%;}
	}
	&tit {display:block;font-size:17px;font-weight:500;color:#343434;}
	&desc {display:flex; flex-direction: column; justify-content:center; font-size:13px;color:#767676;}

	@include respond-to(pc) {
		&wrap {background:#f2f1f1;
			.row {padding:108px 10px 180px;margin: 0 auto;}
			.br_mo {display: none;}
			.br_pc {display: block;}
		}
		&title {padding-bottom:86px;font-size:40px;line-height:1.3;}
		&list {flex-direction:row;gap:20px;}
		&item {display:flex;flex-direction:column;gap:initial;
			.box_bt {display:inline-block;min-width:186px;height:48px;border:1px solid #8c8c8c;background:#f2f1f1;color:#767676;line-height:46px;text-align:center;font-size:18px;
				&:hover {background:#555;color:#fff;}
			}
		}
		&img {width:100%;
			img {width:auto;}
		}
		&tit {padding-top:20px;font-size:24px;}
		&desc {display:block;display:block;}
		&p {display:block;padding-top:5px;padding-bottom:25px;font-size:18px;}
		
		
	}
}